.toolbar-item-wrapper {
    position: relative;
    .toolbar-item-white {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 17px;
        font-weight: bold;
        padding: 0 20px 0 10px;
        color: black;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            color: rgb(155, 155, 155);
            -webkit-animation: appear .5s linear;
            -moz-animation: appear .5s linear;
            -o-animation: appear .5s linear;
            animation: appear .5s linear;
        }
    }
    
    .toolbar-item-regular {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 17px;
        font-weight: bold;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px 0 10px;
        color: white;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            color: rgb(155, 155, 155);
            -webkit-animation: appear .5s linear;
            -moz-animation: appear .5s linear;
            -o-animation: appear .5s linear;
            animation: appear .5s linear;
        }
      
    }
    .toolbar-item-options {
        position: absolute;
        top: 100%;
        left: -50%;
        width: 230px;
        background-color: white;
        box-shadow: 0px -10px 0px rgb(239, 239, 239);
        padding: 0 20px 0 20px;
        .toolbar-item-options-wrapper {
            .toolbar-option {
                .toolbar-option-item {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    cursor: pointer;
                    .arrow-wrapper-active {
                        display: flex;
                        transform: translate(100%);
                        // margin-top: 30px;
                        align-items: center;
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(-5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(-45deg);
                            }
                           .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(45deg);
                            }
                        }
                    }
                    .arrow-wrapper-hide {
                        display: flex;
                        align-items: center;
                        opacity: 0;
                        transform: translateX(0%);
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(-5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(-45deg);
                            }
                            .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(45deg);
                            }
                        }
                    }
                    .arrow-wrapper-hover-on {
                        display: flex;
                        align-items: center;
                        opacity: 1;
                        transform: translateX(100%);
                        -webkit-animation: toolbarItemArrowAppears .2s ease;
                        -moz-animation: toolbarItemArrowAppears .2s ease;
                        -o-animation: toolbarItemArrowAppears .2s ease;
                        animation: toolbarItemArrowAppears .2s ease;
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(-5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(-45deg);
                            }
                            .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(45deg);
                            }
                        }
                    }
                    .arrow-wrapper-hover-off {
                        display: flex;
                        align-items: center;
                        opacity: 0;
                        transform: translateX(0%);
                        -webkit-animation: toolbarItemArrowDisappears .2s ease;
                        -moz-animation: toolbarItemArrowDiappears .2s ease;
                        -o-animation: toolbarItemArrowDisappears .2s ease;
                        animation: toolbarItemArrowDisappears .2s ease;
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(-5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(-45deg);
                            }
                            .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(45deg);
                            }
                        }
                    }
    
                    .toolbar-option-item-text-active {
                        transform: translateX(20px);
                    }
                    .toolbar-option-item-text {
                        transform: translateX(0px);
                    }
                    .toolbar-option-item-text-hover-on {
                        transform: translateX(20px);
                        -webkit-animation: toolbarItemTextHoverOn .2s ease;
                        -moz-animation: toolbarItemTextHoverOn .2s ease;
                        -o-animation: toolbarItemTextHoverOn .2s ease;
                        animation: toolbarItemTextHoverOn .2s ease;
                    }
                    .toolbar-option-item-text-hover-off {
                        transform: translateX(0px);
                        -webkit-animation: toolbarItemTextHoverOff .2s ease;
                        -moz-animation: toolbarItemTextHoverOff .2s ease;
                        -o-animation: toolbarItemTextHoverOff .2s ease;
                        animation: toolbarItemTextHoverOff .2s ease;
                    }
                }
            }
            
        }
    }
    .toolbar-item-options-align-end {
        position: absolute;
        top: 100%;
        left: -50%;
        width: 230px;
        background-color: white;
        box-shadow: 0px -10px 0px rgb(239, 239, 239);
        // padding: 0 20px 0 20px;
        .toolbar-item-options-wrapper {
            .toolbar-option {
                .toolbar-option-item {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 5px;
                    cursor: pointer;
                    .toolbar-option-item-text-active {
                        transform: translateX(-20px);
                    }
                    .toolbar-option-item-text {
                        transform: translateX(0px);
                    }
                    .toolbar-option-item-text-hover-on {
                        transform: translateX(-20px);
                        -webkit-animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                        -moz-animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                        -o-animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                        animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                    }
                    .toolbar-option-item-text-hover-off {
                        transform: translateX(-0px);
                        -webkit-animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                        -moz-animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                        -o-animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                        animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                    }

                    .arrow-wrapper-active {
                        display: flex;
                        transform: translate(-100%);
                        // margin-top: 30px;
                        align-items: center;
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(45deg);
                            }
                           .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(-45deg);
                            }
                        }
                    }
                    .arrow-wrapper-hide {
                        display: flex;
                        align-items: center;
                        opacity: 0;
                        transform: translateX(100%);
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(45deg);
                            }
                            .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(-45deg);
                            }
                        }
                    }
                    .arrow-wrapper-hover-on {
                        display: flex;
                        align-items: center;
                        opacity: 1;
                        transform: translateX(-100%);
                        -webkit-animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                        -moz-animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                        -o-animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                        animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(45deg);
                            }
                            .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(-45deg);
                            }
                        }
                    }
                    .arrow-wrapper-hover-off {
                        display: flex;
                        align-items: center;
                        opacity: 0;
                        transform: translateX(0%);
                        -webkit-animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                        -moz-animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                        -o-animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                        animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(45deg);
                            }
                            .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(-45deg);
                            }
                        }
                    }
                }
                .toolbar-option-item-with-sub-option {
                    // width: calc(100% + 40px);
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 25px 5px 25px;
                    cursor: pointer;
                    .sub-option-arrow-wrapper {
                        width: 10px;
                        .sub-option-arrow-top-line {
                            border-left: 1px solid rgb(78, 78, 78);
                            height: 7px;
                            width: 0px;
                            transform: translate(5px, 1.3px)  rotate(45deg);
                        }
                        .sub-option-arrow-bottom-line {
                            border-left: 1px solid rgb(78, 78, 78);
                            height: 7px;
                            width: 0px;
                            transform: translate(5px, -1.3px) rotate(-45deg);
                        }
                    }
                    .toolbar-option-item-text-and-arrow-wrapper{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        .toolbar-option-item-text-active {
                            transform: translateX(-20px);
                        }
                        .toolbar-option-item-text {
                            transform: translateX(0px);
                        }
                        .toolbar-option-item-text-hover-on {
                            transform: translateX(-20px);
                            -webkit-animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                            -moz-animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                            -o-animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                            animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                        }
                        .toolbar-option-item-text-hover-off {
                            transform: translateX(-0px);
                            -webkit-animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                            -moz-animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                            -o-animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                            animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                        }
    
                        .arrow-wrapper-active {
                            display: flex;
                            transform: translate(-100%);
                            // margin-top: 30px;
                            align-items: center;
                            .arrow-horizontal-line {
                                border-top: 1px solid black;
                                background: black;
                                width: 15px;
                            }
                            .arrow-wrapper2 {
                                transform: translate(5px);
                                height: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .arrow-top-line {
                                    border-top: 1px solid black;
                                    width: 5px;
                                    transform: translate(0px, 2.5px) rotate(45deg);
                                }
                               .arrow-bottom-line {
                                    border-top: 1px solid black;
                                    width: 5px;
                                    transform: translate(0px, -3.5px) rotate(-45deg);
                                }
                            }
                        }
                        .arrow-wrapper-hide {
                            display: flex;
                            align-items: center;
                            opacity: 0;
                            transform: translateX(100%);
                            .arrow-horizontal-line {
                                border-top: 1px solid black;
                                background: black;
                                width: 15px;
                            }
                            .arrow-wrapper2 {
                                transform: translate(5px);
                                height: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .arrow-top-line {
                                    border-top: 1px solid black;
                                    width: 5px;
                                    transform: translate(0px, 2.5px) rotate(45deg);
                                }
                                .arrow-bottom-line {
                                    border-top: 1px solid black;
                                    width: 5px;
                                    transform: translate(0px, -3.5px) rotate(-45deg);
                                }
                            }
                        }
                        .arrow-wrapper-hover-on {
                            display: flex;
                            align-items: center;
                            opacity: 1;
                            transform: translateX(-100%);
                            -webkit-animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                            -moz-animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                            -o-animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                            animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                            .arrow-horizontal-line {
                                border-top: 1px solid black;
                                background: black;
                                width: 15px;
                            }
                            .arrow-wrapper2 {
                                transform: translate(5px);
                                height: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .arrow-top-line {
                                    border-top: 1px solid black;
                                    width: 5px;
                                    transform: translate(0px, 2.5px) rotate(45deg);
                                }
                                .arrow-bottom-line {
                                    border-top: 1px solid black;
                                    width: 5px;
                                    transform: translate(0px, -3.5px) rotate(-45deg);
                                }
                            }
                        }
                        .arrow-wrapper-hover-off {
                            display: flex;
                            align-items: center;
                            opacity: 0;
                            transform: translateX(0%);
                            -webkit-animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                            -moz-animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                            -o-animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                            animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                            .arrow-horizontal-line {
                                border-top: 1px solid black;
                                background: black;
                                width: 15px;
                            }
                            .arrow-wrapper2 {
                                transform: translate(5px);
                                height: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .arrow-top-line {
                                    border-top: 1px solid black;
                                    width: 5px;
                                    transform: translate(0px, 2.5px) rotate(45deg);
                                }
                                .arrow-bottom-line {
                                    border-top: 1px solid black;
                                    width: 5px;
                                    transform: translate(0px, -3.5px) rotate(-45deg);
                                }
                            }
                        }
                    }

                    .toolbar-item-sub-options {
                        position: absolute;
                        width: 200px;
                        top: -50%;
                        left: calc(-100% - 20px);
                        padding: 5px 25px 5px 25px;
                        // margin-left: 5px;
                        background-color: white;
                        box-shadow: 0px -10px 0px rgb(239, 239, 239);
                        .toolbar-sub-option-item {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            padding: 5px;
                            cursor: pointer;
                            .toolbar-option-item-text-active {
                                transform: translateX(-20px);
                            }
                            .toolbar-option-item-text {
                                transform: translateX(0px);
                            }
                            .toolbar-option-item-text-hover-on {
                                transform: translateX(-20px);
                                -webkit-animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                                -moz-animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                                -o-animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                                animation: toolbarItemTextHoverOnAlignEnd .2s ease;
                            }
                            .toolbar-option-item-text-hover-off {
                                transform: translateX(-0px);
                                -webkit-animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                                -moz-animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                                -o-animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                                animation: toolbarItemTextHoverOffAlignEnd .2s ease;
                            }
        
                            .arrow-wrapper-active {
                                display: flex;
                                transform: translate(-100%);
                                // margin-top: 30px;
                                align-items: center;
                                .arrow-horizontal-line {
                                    border-top: 1px solid black;
                                    background: black;
                                    width: 15px;
                                }
                                .arrow-wrapper2 {
                                    transform: translate(5px);
                                    height: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    .arrow-top-line {
                                        border-top: 1px solid black;
                                        width: 5px;
                                        transform: translate(0px, 2.5px) rotate(45deg);
                                    }
                                    .arrow-bottom-line {
                                        border-top: 1px solid black;
                                        width: 5px;
                                        transform: translate(0px, -3.5px) rotate(-45deg);
                                    }
                                }
                            }
                            .arrow-wrapper-hide {
                                display: flex;
                                align-items: center;
                                opacity: 0;
                                transform: translateX(100%);
                                .arrow-horizontal-line {
                                    border-top: 1px solid black;
                                    background: black;
                                    width: 15px;
                                }
                                .arrow-wrapper2 {
                                    transform: translate(5px);
                                    height: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    .arrow-top-line {
                                        border-top: 1px solid black;
                                        width: 5px;
                                        transform: translate(0px, 2.5px) rotate(45deg);
                                    }
                                    .arrow-bottom-line {
                                        border-top: 1px solid black;
                                        width: 5px;
                                        transform: translate(0px, -3.5px) rotate(-45deg);
                                    }
                                }
                            }
                            .arrow-wrapper-hover-on {
                                display: flex;
                                align-items: center;
                                opacity: 1;
                                transform: translateX(-100%);
                                -webkit-animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                                -moz-animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                                -o-animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                                animation: toolbarItemArrowAppearsAlignEnd .2s ease;
                                .arrow-horizontal-line {
                                    border-top: 1px solid black;
                                    background: black;
                                    width: 15px;
                                }
                                .arrow-wrapper2 {
                                    transform: translate(5px);
                                    height: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    .arrow-top-line {
                                        border-top: 1px solid black;
                                        width: 5px;
                                        transform: translate(0px, 2.5px) rotate(45deg);
                                    }
                                    .arrow-bottom-line {
                                        border-top: 1px solid black;
                                        width: 5px;
                                        transform: translate(0px, -3.5px) rotate(-45deg);
                                    }
                                }
                            }
                            .arrow-wrapper-hover-off {
                                display: flex;
                                align-items: center;
                                opacity: 0;
                                transform: translateX(0%);
                                -webkit-animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                                -moz-animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                                -o-animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                                animation: toolbarItemArrowDisppearsAlignEnd .2s ease;
                                .arrow-horizontal-line {
                                    border-top: 1px solid black;
                                    background: black;
                                    width: 15px;
                                }
                                .arrow-wrapper2 {
                                    transform: translate(5px);
                                    height: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    .arrow-top-line {
                                        border-top: 1px solid black;
                                        width: 5px;
                                        transform: translate(0px, 2.5px) rotate(45deg);
                                    }
                                    .arrow-bottom-line {
                                        border-top: 1px solid black;
                                        width: 5px;
                                        transform: translate(0px, -3.5px) rotate(-45deg);
                                    }
                                }
                            }
                        }
                    }
          
                }
            }
            
        }
    }
}

@-webkit-keyframes toolbarItemTextHoverOnAlignEnd {
    from{transform: translateX(0);}
    to{transform: translateX(-20px);}
}
@-moz-keyframes toolbarItemTextHoverOnAlignEnd {
    from{transform: translateX(0);}
    to{transform: translateX(-20px);}
}
@-o-keyframes toolbarItemTextHoverOnAlignEnd {
    from{transform: translateX(0);}
    to{transform: translateX(-20px);}
}
@keyframes toolbarItemTextHoverOnAlignEnd {
    from{transform: translateX(0);}
    to{transform: translateX(-20px);}
}

@-webkit-keyframes toolbarItemTextHoverOffAlignEnd {
    from{transform: translateX(-20px);}
    to{transform: translateX(0px);}
}
@-moz-keyframes toolbarItemTextHoverOffAlignEnd {
    from{transform: translateX(-20px);}
    to{transform: translateX(0px);}
}
@-o-keyframes toolbarItemTextHoverOffAlignEnd {
    from{transform: translateX(-20px);}
    to{transform: translateX(0px);}
}
@keyframes toolbarItemTextHoverOffAlignEnd {
    from{transform: translateX(-20px);}
    to{transform: translateX(0px);}
}


@-webkit-keyframes toolbarItemArrowAppearsAlignEnd {
    from{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(-100%);
        opacity: 1;
    }
}
@-moz-keyframes toolbarItemArrowAppearsAlignEnd {
    from{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(-100%);
        opacity: 1;
    }
}
@-o-keyframes toolbarItemArrowAppearsAlignEnd {
    from{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(-100%);
        opacity: 1;
    }
}
@keyframes toolbarItemArrowAppearsAlignEnd {
    from{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(-100%);
        opacity: 1;
    }
}

@-webkit-keyframes toolbarItemArrowDisppearsAlignEnd {
    from{
        transform: translateX(-100%);
        opacity: 1;
    }
    to{
        transform: translateX(0%);
        opacity: 0;
    }
}
@-moz-keyframes toolbarItemArrowDisppearsAlignEnd {
    from{
        transform: translateX(-100%);
        opacity: 1;
    }
    to{
        transform: translateX(0%);
        opacity: 0;
    }
}
@-o-keyframes toolbarItemArrowDisppearsAlignEnd {
    from{
        transform: translateX(-100%);
        opacity: 1;
    }
    to{
        transform: translateX(0%);
        opacity: 0;
    }
}
@keyframes toolbarItemArrowDisppearsAlignEnd {
    from{
        transform: translateX(-100%);
        opacity: 1;
    }
    to{
        transform: translateX(0%);
        opacity: 0;
    }
}

// .toolbar-item-active {
//     border-bottom: 1px solid rgb(180, 139, 62);
//     border-top: 1px solid rgb(180, 139, 62);
//     text-align: center;
//     height: 34px;
//     padding-top: 18px;
//     color: rgb(180, 139, 62);
//     font-family: 'Yanone Kaffeesatz', sans-serif;
//     font-size: 18px;
//     opacity: 1;
//     -webkit-animation: appearText 2s linear;
//     -moz-animation: appearText 2s linear;
//     -o-animation: appearText 2s linear;
//     animation: appearText 2s linear;
//     cursor: pointer;
// }

// .toolbar-item-disappear {
//     border-bottom: 1px solid rgb(82, 78, 76);
//     text-align: center;
//     height: 34px;
//     padding-top: 18px;
//     color: white;
//     font-family: 'Yanone Kaffeesatz', sans-serif;
//     font-size: 18px;
//     opacity: 0;
//     -webkit-animation: disappearText 0.3s linear;
//     -moz-animation: disappearText 0.3s linear;
//     -o-animation: disappearText 0.3s linear;
//     animation: disappearText 0.3s linear;
// }

// .toolbar-item-active-disappear {
//     border-bottom: 1px solid rgb(82, 78, 76);
//     text-align: center;
//     height: 34px;
//     padding-top: 18px;
//     color: rgb(180, 139, 62);
//     font-family: 'Yanone Kaffeesatz', sans-serif;
//     font-size: 18px;
//     opacity: 0;
//     -webkit-animation: disappearText 0.3s linear;
//     -moz-animation: disappearText 0.3s linear;
//     -o-animation: disappearText 0.3s linear;
//     animation: disappearText 0.3s linear;
// }

@-webkit-keyframes appear {
    from{opacity: 1;}
    to {opacity: 0.7;}
}
@-moz-keyframes appear {
    from{opacity: 1;}
    to {opacity: 0.7;}
}
@-o-keyframes appear {
    from{opacity: 1;}
    to {opacity: 0.7;}
}
@keyframes appear {
    from{opacity: 1;}
    to {opacity: 0.7;}
}

// @-webkit-keyframes appearText {
//     0%{
//         opacity: 0;
//     }
//     90% {
//         opacity: 1;
//     }
// }
// @-moz-keyframes appearText {
//     0%{
//         opacity: 0;
//     }
//     90% {
//         opacity: 1;
//     }
// }
// @-o-keyframes appearText {
//     0%{
//         opacity: 0;
//     }
//     90% {
//         opacity: 1;
//     }
// }
// @keyframes appearText {
//     0%{
//         opacity: 0;
//     }
//     90% {
//         opacity: 1;
//     }
// }

// @-webkit-keyframes disappearText {
//     0%{
//         opacity: 1;
//     }
//     70% {
//         opacity: 0;
//     }
// }
// @-moz-keyframes disappearText {
//     0%{
//         opacity: 1;
//     }
//     70% {
//         opacity: 0;
//     }
// }
// @-o-keyframes disappearText {
//     0%{
//         opacity: 1;
//     }
//     70% {
//         opacity: 0;
//     }
// }
// @keyframes disappearText {
//     0%{
//         opacity: 1;
//     }
//     70% {
//         opacity: 0;
//     }
// }
