.toolbar-item-wrapper {
    position: relative;
    .toolbar-item-white {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 17px;
        font-weight: bold;
        padding: 0 20px 0 10px;
        color: black;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            color: rgb(155, 155, 155);
            -webkit-animation: appear .5s linear;
            -moz-animation: appear .5s linear;
            -o-animation: appear .5s linear;
            animation: appear .5s linear;
        }
    }
    
    .toolbar-item-regular {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 17px;
        font-weight: bold;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px 0 10px;
        color: white;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            color: rgb(155, 155, 155);
            -webkit-animation: appear .5s linear;
            -moz-animation: appear .5s linear;
            -o-animation: appear .5s linear;
            animation: appear .5s linear;
        }
      
    }
    .toolbar-item-options {
        position: absolute;
        top: 100%;
        left: -50%;
        width: 230px;
        background-color: white;
        box-shadow: 0px -10px 0px rgb(239, 239, 239);
        padding: 0 20px 0 20px;
        .toolbar-item-options-wrapper {
            .toolbar-option {
                .toolbar-option-item {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    cursor: pointer;
                    .arrow-wrapper-active {
                        display: flex;
                        transform: translate(100%);
                        // margin-top: 30px;
                        align-items: center;
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(-5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(-45deg);
                            }
                           .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(45deg);
                            }
                        }
                    }
                    .arrow-wrapper-hide {
                        display: flex;
                        align-items: center;
                        opacity: 0;
                        transform: translateX(0%);
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(-5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(-45deg);
                            }
                            .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(45deg);
                            }
                        }
                    }
                    .arrow-wrapper-hover-on {
                        display: flex;
                        align-items: center;
                        opacity: 1;
                        transform: translateX(100%);
                        -webkit-animation: arrowAppears .2s ease;
                        -moz-animation: arrowAppears .2s ease;
                        -o-animation: arrowAppears .2s ease;
                        animation: arrowAppears .2s ease;
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(-5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(-45deg);
                            }
                            .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(45deg);
                            }
                        }
                    }
                    .arrow-wrapper-hover-off {
                        display: flex;
                        align-items: center;
                        opacity: 0;
                        transform: translateX(0%);
                        -webkit-animation: arrowDisppears .2s ease;
                        -moz-animation: arrowDisppears .2s ease;
                        -o-animation: arrowDisppears .2s ease;
                        animation: arrowDisppears .2s ease;
                        .arrow-horizontal-line {
                            border-top: 1px solid black;
                            background: black;
                            width: 15px;
                        }
                        .arrow-wrapper2 {
                            transform: translate(-5px);
                            height: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .arrow-top-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, 2.5px) rotate(-45deg);
                            }
                            .arrow-bottom-line {
                                border-top: 1px solid black;
                                width: 5px;
                                transform: translate(0px, -3.5px) rotate(45deg);
                            }
                        }
                    }
    
                    .toolbar-option-item-text-active {
                        transform: translateX(20px);
                    }
                    .toolbar-option-item-text {
                        transform: translateX(0px);
                    }
                    .toolbar-option-item-text-hover-on {
                        transform: translateX(20px);
                        -webkit-animation: textHoverOn .2s ease;
                        -moz-animation: textHoverOn .2s ease;
                        -o-animation: textHoverOn .2s ease;
                        animation: textHoverOn .2s ease;
                    }
                    .toolbar-option-item-text-hover-off {
                        transform: translateX(0px);
                        -webkit-animation: textHoverOff .2s ease;
                        -moz-animation: textHoverOff .2s ease;
                        -o-animation: textHoverOff .2s ease;
                        animation: textHoverOff .2s ease;
                    }
                }
            }
            
        }
    }
}



// .toolbar-item-active {
//     border-bottom: 1px solid rgb(180, 139, 62);
//     border-top: 1px solid rgb(180, 139, 62);
//     text-align: center;
//     height: 34px;
//     padding-top: 18px;
//     color: rgb(180, 139, 62);
//     font-family: 'Yanone Kaffeesatz', sans-serif;
//     font-size: 18px;
//     opacity: 1;
//     -webkit-animation: appearText 2s linear;
//     -moz-animation: appearText 2s linear;
//     -o-animation: appearText 2s linear;
//     animation: appearText 2s linear;
//     cursor: pointer;
// }

// .toolbar-item-disappear {
//     border-bottom: 1px solid rgb(82, 78, 76);
//     text-align: center;
//     height: 34px;
//     padding-top: 18px;
//     color: white;
//     font-family: 'Yanone Kaffeesatz', sans-serif;
//     font-size: 18px;
//     opacity: 0;
//     -webkit-animation: disappearText 0.3s linear;
//     -moz-animation: disappearText 0.3s linear;
//     -o-animation: disappearText 0.3s linear;
//     animation: disappearText 0.3s linear;
// }

// .toolbar-item-active-disappear {
//     border-bottom: 1px solid rgb(82, 78, 76);
//     text-align: center;
//     height: 34px;
//     padding-top: 18px;
//     color: rgb(180, 139, 62);
//     font-family: 'Yanone Kaffeesatz', sans-serif;
//     font-size: 18px;
//     opacity: 0;
//     -webkit-animation: disappearText 0.3s linear;
//     -moz-animation: disappearText 0.3s linear;
//     -o-animation: disappearText 0.3s linear;
//     animation: disappearText 0.3s linear;
// }

@-webkit-keyframes appear {
    from{opacity: 1;}
    to {opacity: 0.7;}
}
@-moz-keyframes appear {
    from{opacity: 1;}
    to {opacity: 0.7;}
}
@-o-keyframes appear {
    from{opacity: 1;}
    to {opacity: 0.7;}
}
@keyframes appear {
    from{opacity: 1;}
    to {opacity: 0.7;}
}

// @-webkit-keyframes appearText {
//     0%{
//         opacity: 0;
//     }
//     90% {
//         opacity: 1;
//     }
// }
// @-moz-keyframes appearText {
//     0%{
//         opacity: 0;
//     }
//     90% {
//         opacity: 1;
//     }
// }
// @-o-keyframes appearText {
//     0%{
//         opacity: 0;
//     }
//     90% {
//         opacity: 1;
//     }
// }
// @keyframes appearText {
//     0%{
//         opacity: 0;
//     }
//     90% {
//         opacity: 1;
//     }
// }

// @-webkit-keyframes disappearText {
//     0%{
//         opacity: 1;
//     }
//     70% {
//         opacity: 0;
//     }
// }
// @-moz-keyframes disappearText {
//     0%{
//         opacity: 1;
//     }
//     70% {
//         opacity: 0;
//     }
// }
// @-o-keyframes disappearText {
//     0%{
//         opacity: 1;
//     }
//     70% {
//         opacity: 0;
//     }
// }
// @keyframes disappearText {
//     0%{
//         opacity: 1;
//     }
//     70% {
//         opacity: 0;
//     }
// }
