.statistics {
    display: flex;
    justify-content: center;
    .statistics-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
}


@media only screen and (max-width: 1120px){
    .statistics {
        flex-direction: column;
        justify-content: center;
        padding: 0 120px 0 80px;
        .statistics-wrapper {
        }
        
    }
}


// @media only screen and (max-width: 945px){

// }

// @media only screen and (max-width: 775px){

// }

// @media only screen and (max-width: 540px){

// }

// @media only screen and (max-width: 430px){

// }

// @media only screen and (max-width: 330px){
// }

// @media only screen and (max-width: 300px){

// }