.header-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   .switch-buttons {
       width: 60px;
       position: relative;
       z-index: 500;
       .switch-button-wrapper {
            // border: 2px solid red;
            // height: 20px;
            margin: 25px 0 25px 0px; 
            cursor: pointer;
            .switch-button-number {
                text-align: right;
                font-family: 'Lora', serif;
                font-size: 19px;
                opacity: 1;
                color: white;
            }
            .switch-button-number-hidden {
                text-align: right;
                font-family: 'Lora', serif;
                font-size: 19px;
                opacity: 0;
            }
            .switch-button-activated {
                border: 1px solid white;
                width: 58px;
                background: white;
                margin-bottom: 5px;
            }
            .switch-button-activated-hidden {
                display: none;
            }
            .switch-button-deactivated {
                border: 1px solid white;
                width: 20px;
                background: white;
                margin-bottom: 5px;
            }
            .switch-button-deactivated-hidden {
                display: none;
            }
            .switch-button-deactivated-elongated {
                border: 1px solid white;
                width: 58px;
                background: white;
                -webkit-animation: lengthen .5s linear;
                -moz-animation: lengthen .5s linear;
                -o-animation: lengthen .5s linear;
                animation: lengthen .5s linear;
                cursor: pointer;
            }
            .switch-button-deactivated-shortened {
                border: 1px solid white;
                width: 20px;
                background: white;
                -webkit-animation: shorten .5s linear;
                -moz-animation: shorten .5s linear;
                -o-animation: shorten .5s linear;
                animation: shorten .5s linear;
                cursor: pointer;
            }
        }
   }
   .header-text-back {
        position: absolute;
        font-size: 180px;
        font-family: 'Lalezar', cursive;
        color: white;
        top: 15px;
        // left: 165px;
        opacity: 1;
        -webkit-animation: appearHeaderTextBack .5s linear;
        -moz-animation: appearHeaderTextBack .5s linear;
        -o-animation: appearHeaderTextBack .5s linear;
        animation: appearHeaderTextBack .5s linear;
   }
   .header-text-front-crop {
        position: absolute;
        top: 128px;
        // left: 288px;
        overflow: hidden;
        // border: 2px solid red;
        width: 770px;
        height: 480px;
        z-index: 500;
        .header-text-front {
            position: absolute;
            font-size: 180px;
            font-family: 'Lalezar', cursive;
            color: white;
            top: -113px;
            left: -122px;
            z-index: 500;
            -webkit-animation: appearHeaderTextBack .5s linear;
            -moz-animation: appearHeaderTextBack .5s linear;
            -o-animation: appearHeaderTextBack .5s linear;
            animation: appearHeaderTextBack .5s linear;
        }
        .header-text {
            font-size: 65px;
            // width: calc(100% - 180px);
            margin: 0 70px 0 110px;
            color: white;
            top: 140px;
            position: absolute;
            z-index: 500;
            .header-text-wrapper {
                display: flex;
                // transform: translateX(0%);
                .header-text-bold{
                    font-family: 'Lora', serif;
                    // transform: translateX(10%);
                    -webkit-animation: appearHeaderTextFront .5s linear;
                    -moz-animation: appearHeaderTextFront .5s linear;
                    -o-animation: appearHeaderTextFront .5s linear;
                    animation: appearHeaderTextFront .5s linear;
                    animation-delay: 1s;
                    animation-fill-mode: both;
                }
                .header-text-regular-1 {
                    // transform: translateX(10%);
                    -webkit-animation: appearHeaderTextFront .5s linear;
                    -moz-animation: appearHeaderTextFront .5s linear;
                    -o-animation: appearHeaderTextFront .5s linear;
                    animation: appearHeaderTextFront .5s linear;
                    animation-delay: 2s;
                    animation-fill-mode: both;
                }
            }
            .header-text-regular-2 {
                // transform: translateX(0%);
                -webkit-animation: appearHeaderTextFront .5s linear;
                -moz-animation: appearHeaderTextFront .5s linear;
                -o-animation: appearHeaderTextFront .5s linear;
                animation: appearHeaderTextFront .5s linear;
                animation-delay: 3s;
                animation-fill-mode: both;
            }
        }
    }
 
    .header-image {
        width: calc(100% - 120px);
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 300; 
        -webkit-animation: fadeIn 1s ease;
        -moz-animation: fadeIn 1s ease;
        -o-animation: fadeIn 1s ease;
        animation: fadeIn 1s ease;
        opacity: 1;
        filter: drop-shadow(16px 16px 20px black) invert(0%);
            >img {
                width: 770px;
                height: 480px;
                margin: 40px 0 0 0;
                filter: grayscale(20%);
            }
    }

    .hide {
        display: none;
    }
}

@keyframes appearHeaderTextFront {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
    
@-moz-keyframes appearHeaderTextFront {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-webkit-keyframes appearHeaderTextFront {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-o-keyframes appearHeaderTextFront {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes appearHeaderTextBack {
    0% {
        // opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        // opacity: 1;
        transform: translateY(0%);
    }
}
    
@-moz-keyframes appearHeaderTextBack {
    0% {
        // opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        // opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes appearHeaderTextBack {
    0% {
        // opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        // opacity: 1;
        transform: translateY(0%);
    }
}

@-o-keyframes appearHeaderTextBack {
    0% {
        // opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        // opacity: 1;
        transform: translateY(0%);
    }
}



@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


@-webkit-keyframes lengthen {
    from{width: 20;}
    to{width: 58;}
}
@-moz-keyframes lengthen {
    from{width: 20;}
    to{width: 58;}
}
@-o-keyframes lengthen {
    from{width: 20;}
    to{width: 58;}
}

@keyframes lengthen {
    from{width: 20;}
    to{width: 58;}
}

@-webkit-keyframes shorten {
    from{width: 58;}
    to{width: 20;}
}
@-moz-keyframes shorten {
    from{width: 58;}
    to{width: 20;}
}
@-o-keyframes shorten {
    from{width: 58;}
    to{width: 20;}
}

@keyframes shorten {
    from{width: 58;}
    to{width: 20;}
}
