.header-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   .switch-buttons {
       width: 60px;
       position: relative;
       z-index: 500;
       .switch-button-wrapper{
            // border: 2px solid red;
            // height: 20px;
            margin: 25px 0 25px 0px; 
            cursor: pointer;
            .switch-button-number {
                text-align: right;
                font-family: 'Lora', serif;
                font-size: 19px;
                opacity: 1;
                color: white;
            }
            .switch-button-number-hidden {
                text-align: right;
                font-family: 'Lora', serif;
                font-size: 19px;
                opacity: 0;
            }
            .switch-button-activated {
                border: 1.5px solid white;
                width: 58px;
                background: white;
                margin-bottom: 5px;
            }
            .switch-button-activated-hidden {
                display: none;
            }
            .switch-button-deactivated {
                    border: 1.5px solid white;
                    width: 20px;
                    background: white;
                    margin-bottom: 5px;
                // &:hover {
                //     -webkit-animation: appear4 1s ease;
                //     -moz-animation: appear4 1s ease;
                //     -o-animation: appear4 1s ease;
                //     animation: appear4 1s ease;
                // }
            }
            .switch-button-deactivated-hidden {
                display: none;
            }
            .switch-button-deactivated-elongated {
                border: 1.5px solid white;
                width: 58px;
                background: white;
                -webkit-animation: lengthen 1s ease;
                -moz-animation: lengthen 1s ease;
                -o-animation: lengthen 1s ease;
                animation: lengthen 1s ease;
                cursor: pointer;
            }
            .switch-button-deactivated-shortened {
                border: 1.5px solid white;
                width: 20px;
                background: white;
                -webkit-animation: shorten 1s ease;
                -moz-animation: shorten 1s ease;
                -o-animation: shorten 1s ease;
                animation: shorten 1s ease;
                cursor: pointer;
            }
        }
   }
   .header-text-back {
        position: absolute;
        font-size: 180px;
        font-family: 'Lalezar', cursive;
        color: white;
        top: 15px;
        // left: 165px;
        opacity: 1;
   }
   .header-text-front-crop {
        position: absolute;
        top: 128px;
        // left: 288px;
        overflow: hidden;
        // border: 2px solid red;
        width: 790px;
        height: 500px;
        z-index: 500;
        .header-text-front {
            position: absolute;
            font-size: 180px;
            font-family: 'Lalezar', cursive;
            color: white;
            top: -113px;
            left: -122px;
            z-index: 500;
        }
        .header-text {
            font-family: 'Lora', serif;
            font-size: 65px;
            // width: calc(100% - 180px);
            margin: 0 70px 0 110px;
            color: white;
            top: 140px;
            position: absolute;
            z-index: 500;
        }
    }
 
   .header-image {
       width: calc(100% - 120px);
       display: flex;
       justify-content: center;
       position: relative;
       z-index: 300;
       filter: drop-shadow(16px 16px 20px black) invert(0%);
        >img {
            width: 790px;
            height: 500px;
            margin: 40px 0 0 0;
            filter: grayscale(20%);
        }
   }
   
}

@-webkit-keyframes lengthen {
    from{
        width: 20;
    }
    to{
        width: 58;
    }
}
@-moz-keyframes lengthen {
    from{
        width: 20;
    }
    to{
        width: 58;
    }
}
@-o-keyframes lengthen {
    from{
        width: 20;
    }
    to{
        width: 58;
    }
}

@keyframes lengthen {
    from{
        width: 20;
    }
    to{
        width: 58;
    }
}

@-webkit-keyframes shorten {
    from{
        width: 58;
    }
    to{
        width: 20;
    }
}
@-moz-keyframes shorten {
    from{
        width: 58;
    }
    to{
        width: 20;
    }
}
@-o-keyframes shorten {
    from{
        width: 58;
    }
    to{
        width: 20;
    }
}

@keyframes shorten {
    from{
        width: 58;
    }
    to{
        width: 20;
    }
}
