.header-images {
    display: flex;
    align-items: center;
   .switch-buttons {
       .switch-button-wrapper{
            // border: 2px solid red;
            // height: 20px;
            margin: 25px 0 25px 0px; 
            cursor: pointer;
            .switch-button-number {
                text-align: right;
                font-family: 'Lora', serif;
                font-size: 19px;
                opacity: 1;
            }
            .switch-button-number-hidden {
                text-align: right;
                font-family: 'Lora', serif;
                font-size: 19px;
                opacity: 0;
            }
            .switch-button-activated {
                border: 1.5px solid black;
                width: 58px;
                background: black;
                margin-bottom: 5px;
            }
            .switch-button-activated-hidden {
                display: none;
            }
            .switch-button-deactivated {
                    border: 1.5px solid black;
                    width: 20px;
                    background: black;
                    margin-bottom: 5px;
                // &:hover {
                //     -webkit-animation: appear4 1s ease;
                //     -moz-animation: appear4 1s ease;
                //     -o-animation: appear4 1s ease;
                //     animation: appear4 1s ease;
                // }
            }
            .switch-button-deactivated-hidden {
                display: none;
            }
            .switch-button-deactivated-elongated {
                border: 1.5px solid black;
                width: 58px;
                background: black;
                -webkit-animation: lengthen 1s ease;
                -moz-animation: lengthen 1s ease;
                -o-animation: lengthen 1s ease;
                animation: lengthen 1s ease;
                cursor: pointer;
            }
            .switch-button-deactivated-shortened {
                border: 1.5px solid black;
                width: 20px;
                background: black;
                -webkit-animation: shorten 1s ease;
                -moz-animation: shorten 1s ease;
                -o-animation: shorten 1s ease;
                animation: shorten 1s ease;
                cursor: pointer;
            }
        }
   }
    >img {
        width: 770px;
        height: 510px;
    }
}

@-webkit-keyframes lengthen {
    from{
        width: 20;
    }
    to{
        width: 58;
    }
}
@-moz-keyframes lengthen {
    from{
        width: 20;
    }
    to{
        width: 58;
    }
}
@-o-keyframes lengthen {
    from{
        width: 20;
    }
    to{
        width: 58;
    }
}

@keyframes lengthen {
    from{
        width: 20;
    }
    to{
        width: 58;
    }
}

@-webkit-keyframes shorten {
    from{
        width: 58;
    }
    to{
        width: 20;
    }
}
@-moz-keyframes shorten {
    from{
        width: 58;
    }
    to{
        width: 20;
    }
}
@-o-keyframes shorten {
    from{
        width: 58;
    }
    to{
        width: 20;
    }
}

@keyframes shorten {
    from{
        width: 58;
    }
    to{
        width: 20;
    }
}
