.stone-wall-wide-page {
    width: calc(100% + 18px);
    background:  rgb(37, 37, 37);
    .stone-wall-wide-page-loading-error {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }
    .stone-wall-wide-page-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 90px 0px 150px 0px;
    }
    .stone-wall-wide-page-wrapper {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        width: calc(100% - 80px);
        padding: 40px;
        background: white;
        .stone-wall-wide-page-items {
            // position: relative;
            // width: 1099.99px;
            // height: 1169.99px;
            // display: flex;
            // flex-wrap: wrap;
            // padding: 40px 100px 40px 130px;
     
            .stone-wall-wide-page-item-id2-animation-narrow-screen {
                position: absolute;
                top: 408px;
                left: 0px;
                width: 776px;
                height: 776px;
                margin-right: 30px;
                margin-bottom: 30px;
                -webkit-animation: stoneWallWidePageItemId2NarrowScreen 0.3s linear;
                -moz-animation: stoneWallWidePageItemId2NarrowScreen 0.3s linear;
                -o-animation: stoneWallWidePageItemId2NarrowScreen 0.3s linear;
                animation: stoneWallWidePageItemId2NarrowScreen 0.3s linear;
            }
            
            .stone-wall-wide-page-item-id2-animation-expand-screen {
                position: absolute;
                top: 0px;
                left: 253.25px;
                width: 426.5px;
                height: 459.5px;
                margin-right: 30px;
                margin-bottom: 30px;
                -webkit-animation: stoneWallWidePageItemId2ExpandScreen 0.3s linear;
                -moz-animation: stoneWallWidePageItemId2ExpandScreen 0.3s linear;
                -o-animation: stoneWallWidePageItemId2ExpandScreen 0.3s linear;
                animation: stoneWallWidePageItemId2ExpandScreen 0.3s linear;
            }
            .stone-wall-wide-page-item-id2-animation-narrow2-screen {
                // position: absolute;
                // top: 900px;
                // left: 0px;
                // width: 420px;
                // height: 868.55px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId2Expand2Screen 0.3s linear;
                // -moz-animation: stoneWallPageItemId2Expand2Screen 0.3s linear;
                // -o-animation: stoneWallPageItemId2Expand2Screen 0.3s linear;
                // animation: stoneWallPageItemId2Expand2Screen 0.3s linear;
            }
            .stone-wall-wide-page-item-id2-animation-expand2-screen {
                // position: absolute;
                // top: 945px;
                // left: 0px;
                // width: 285px;
                // height: 600px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId2Expand2Screen 0.3s linear;
                // -moz-animation: stoneWallPageItemId2Expand2Screen 0.3s linear;
                // -o-animation: stoneWallPageItemId2Expand2Screen 0.3s linear;
                // animation: stoneWallPageItemId2Expand2Screen 0.3s linear;
            }
          
            .stone-wall-wide-page-item-id3-animation-narrow-screen {
                position: absolute;
                top: 0;
                left: 408px;
                width: 368px;
                height: 368px;
                margin-right: 30px;
                margin-bottom: 30px;
                -webkit-animation: stoneWallWidePageItemId3NarrowScreen 0.3s linear;
                -moz-animation: stoneWallWidePageItemId3NarrowScreen 0.3s linear;
                -o-animation: stoneWallWidePageItemId3NarrowScreen 0.3s linear;
                animation: stoneWallWidePageItemId3NarrowScreen 0.3s linear;
            }
            .stone-wall-wide-page-item-id3-animation-expand-screen {
                // position: absolute;
                // top: 0px;
                // left: 326.66px;
                // width: 623.33px;
                // height: 623.33px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId3ExpandScreen 0.3s linear;
                // -moz-animation: stoneWallPageItemId3ExpandScreen 0.3s linear;
                // -o-animation: stoneWallPageItemId3ExpandScreen 0.3s linear;
                // animation: stoneWallPageItemId3ExpandScreen 0.3s linear;
            }
            .stone-wall-wide-page-item-id3-animation-narrow2-screen {
                // position: absolute;
                // top: 450px;
                // left: 0;
                // width: 420px;
                // height: 420px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId3Narrow2Screen 0.3s linear;
                // -moz-animation: stoneWallPageItemId3Narrow2Screen 0.3s linear;
                // -o-animation: stoneWallPageItemId3Narrow2Screen 0.3s linear;
                // animation: stoneWallPageItemId3Narrow2Screen 0.3s linear;
            }
            .stone-wall-wide-page-item-id3-animation-expand2-screen {
                // position: absolute;
                // top: 315px;
                // left: 0px;
                // width: 600px;
                // height: 600px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId3Expand2Screen 0.3s linear;
                // -moz-animation: stoneWallPageItemId3Expand2Screen 0.3s linear;
                // -o-animation: stoneWallPageItemId3Expand2Screen 0.3s linear;
                // animation: stoneWallPageItemId3Expand2Screen 0.3s linear;
            }
           
            .stone-wall-wide-page-item-id4-animation-narrow-screen {
                position: absolute;
                top: 1283px;
                left: 0px;
                width: 368px;
                height: 368px;
                margin-right: 30px;
                margin-bottom: 30px;
                -webkit-animation: stoneWallWidePageItemId4NarrowScreen 0.3s linear;
                -moz-animation: stoneWallWidePageItemId4NarrowScreen 0.3s linear;
                -o-animation: stoneWallWidePageItemId4NarrowScreen 0.3s linear;
                animation: stoneWallWidePageItemId4NarrowScreen 0.3s linear;
            }
            .stone-wall-wide-page-item-id4-animation-expand-screen {
                // position: absolute;
                // top: 653.33px;
                // left: 326.66px;
                // width: 296.66px;
                // height: 296.66px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId4ExpandScreen 0.3s linear;
                // -moz-animation: stoneWallPageItemId4ExpandScreen 0.3s linear;
                // -o-animation: stoneWallPageItemId4ExpandScreen 0.3s linear;
                // animation: stoneWallPageItemId4ExpandScreen 0.3s linear;
            }
            .stone-wall-wide-page-item-id4-animation-narrow2-screen {
                // position: absolute;
                // top: 1798.55px;
                // left: 0px;
                // width: 420px;
                // height: 420px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId4Narrow2Screen 0.3s linear;
                // -moz-animation: stoneWallPageItemId4Narrow2Screen 0.3s linear;
                // -o-animation: stoneWallPageItemId4Narrow2Screen 0.3s linear;
                // animation: stoneWallPageItemId4Narrow2Screen 0.3s linear;
            }
            .stone-wall-wide-page-item-id4-animation-expand2-screen {
                // position: absolute;
                // top: 0px;
                // left: 316px;
                // width: 285px;
                // height: 285px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId4Expand2Screen 0.3s linear;
                // -moz-animation: stoneWallPageItemId4Expand2Screen 0.3s linear;
                // -o-animation: stoneWallPageItemId4Expand2Screen 0.3s linear;
                // animation: stoneWallPageItemId4Expand2Screen 0.3s linear;
            }
          
            .stone-wall-wide-page-item-id5-animation-narrow-screen {
                position: absolute;
                top: 1283px;
                left: 408px;
                width: 368px;
                height: 793px;
                margin-right: 30px;
                margin-bottom: 30px;
                -webkit-animation: stoneWallWidePageItemId5NarrowScreen 0.3s linear;
                -moz-animation: stoneWallWidePageItemId5NarrowScreen 0.3s linear;
                -o-animation: stoneWallWidePageItemId5NarrowScreen 0.3s linear;
                animation: stoneWallWidePageItemId5NarrowScreen 0.3s linear;
            }
            .stone-wall-wide-page-item-id5-animation-expand-screen {
                // position: absolute;
                // top: 653.33px;
                // left: 653.32px;
                // width: 296.66px;
                // height: 296.66px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId5ExpandScreen 0.3s linear;
                // -moz-animation: stoneWallPageItemId5ExpandScreen 0.3s linear;
                // -o-animation: stoneWallPageItemId5ExpandScreen 0.3s linear;
                // animation: stoneWallPageItemId5ExpandScreen 0.3s linear;
            }
            .stone-wall-wide-page-item-id5-animation-narrow2-screen {
                // position: absolute;
                // top: 2248.55px;
                // left: 0px;
                // width: 420px;
                // height: 420px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId5Narrow2Screen 0.3s linear;
                // -moz-animation: stoneWallPageItemId5Narrow2Screen 0.3s linear;
                // -o-animation: stoneWallPageItemId5Narrow2Screen 0.3s linear;
                // animation: stoneWallPageItemId5Narrow2Screen 0.3s linear;
            }
            .stone-wall-wide-page-item-id5-animation-expand2-screen {
                // position: absolute;
                // top: 945px;
                // left: 315px;
                // width: 285px;
                // height: 285px;
                // margin-right: 30px;
                // margin-bottom: 30px;
                // -webkit-animation: stoneWallPageItemId5Expand2Screen 0.3s linear;
                // -moz-animation: stoneWallPageItemId5Expand2Screen 0.3s linear;
                // -o-animation: stoneWallPageItemId5Expand2Screen 0.3s linear;
                // animation: stoneWallPageItemId5Expand2Screen 0.3s linear;
            }

            .stone-wall-wide-page-item-id6-animation-narrow-screen {
                position: absolute;
                top: 1707px;
                left: 408px;
                width: 368px;
                height: 368px;   
                margin-right: 30px;
                margin-bottom: 30px;
                -webkit-animation: stoneWallWidePageItemId6NarrowScreen 0.3s linear;
                -moz-animation: stoneWallWidePageItemId6NarrowScreen 0.3s linear;
                -o-animation: stoneWallWidePageItemId6NarrowScreen 0.3s linear;
                animation: stoneWallWidePageItemId6NarrowScreen 0.3s linear;
            }

            .stone-wall-wide-page-item-id6-animation-narrow-screen {
                position: absolute;
                top: 1707px;
                left: 408px;
                width: 368px;
                height: 368px;   
                margin-right: 30px;
                margin-bottom: 30px;
                -webkit-animation: stoneWallWidePageItemId7NarrowScreen 0.3s linear;
                -moz-animation: stoneWallWidePageItemId7NarrowScreen 0.3s linear;
                -o-animation: stoneWallWidePageItemId7NarrowScreen 0.3s linear;
                animation: stoneWallWidePageItemId7NarrowScreen 0.3s linear;
            }

            .stone-wall-wide-page-item-id7-animation-narrow-screen {
                position: absolute;
                top: 2116px;
                left: 0px;
                width: 776px;
                height: 368px;   
                margin-right: 30px;
                margin-bottom: 30px;
                -webkit-animation: stoneWallWidePageItemId7NarrowScreen 0.3s linear;
                -moz-animation: stoneWallWidePageItemId7NarrowScreen 0.3s linear;
                -o-animation: stoneWallWidePageItemId7NarrowScreen 0.3s linear;
                animation: stoneWallWidePageItemId7NarrowScreen 0.3s linear;
            }
        }
    }
}

@media only screen and (max-width: 1040px){
    .stone-wall-wide-page {
        .stone-wall-wide-page-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .stone-wall-wide-page-items {
                position: relative;
                width: 933px !important; 
                height: 712.15px !important; 
                .stone-wall-wide-page-item-id1 {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 213.25px;
                    height: 213.25px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                }
                .stone-wall-wide-page-item-id2 {
                    position: absolute;
                    top: 0px;
                    left: 253.25px;
                    width: 426.5px;
                    height: 459.5px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                }

                .stone-wall-wide-page-item-id3 {
                    position: absolute;
                    top: 0px;
                    left: 719.75px;
                    width: 213.25px;
                    height: 213.25px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                }
                .stone-wall-wide-page-item-id4 {
                    position: absolute;
                    top: 253.25px;
                    left: 0px;
                    width: 213.25px;
                    height: 459.15px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                }
                .stone-wall-wide-page-item-id5 {
                    position: absolute;
                    top: 247.25px;
                    left: 719.75px;
                    width: 213.25px;
                    height: 213.25px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                }
                .stone-wall-wide-page-item-id6 {
                    position: absolute;
                    top: 499.5px;
                    left: 253.25px;
                    width: 213.25px;
                    height: 213.25px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                }
                .stone-wall-wide-page-item-id7 {
                    position: absolute;
                    top: 499.5px;
                    left: 506.5px;
                    width: 426.5px;
                    height: 213.25px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1025px){
    .stone-wall-wide-page {
        .stone-wall-wide-page-wrapper {
            .stone-wall-wide-page-items {
                width: 776px !important;
                height: 2505px !important;
                .stone-wall-wide-page-item-id1 {
                    width: 368px;
                    height: 368px;
                }
                .stone-wall-wide-page-item-id2 {
                    top: 408px;
                    left: 0px;
                    width: 776px;
                    height: 835px;
                }
                .stone-wall-wide-page-item-id3 {
                    top: 0px;
                    left: 408px;
                    width: 368px;
                    height: 368px;
                }
                .stone-wall-wide-page-item-id4 {
                    top: 1283px;
                    left: 0px;
                    width: 368px;
                    height: 793px;
                }
                .stone-wall-wide-page-item-id5 {
                    top: 1283px;
                    left: 408px;
                    width: 368px;
                    height: 368px;                   
                }
                .stone-wall-wide-page-item-id6 {
                    top: 1708px;
                    left: 408px;
                    width: 368px;
                    height: 368px;  
                }
                .stone-wall-wide-page-item-id7 {
                    top: 2116px;
                    left: 0px;
                    width: 776px;
                    height: 368px; 
                }
            }
        }
    }
}

// @media only screen and (max-width: 840px){
//     .stone-wall-wide-page {
//         .stone-wall-wide-page-wrapper {
//             .stone-wall-wide-page-items {
//                 width: 600px;
//                 height: 1615px;
//                 .stone-wall-wide-page-item-id1 {
//                     width: 285px;
//                     height: 285px;
//                 }
//                 .stone-wall-wide-page-item-id2 {
//                     top: 945px;
//                     left: 0px;
//                     width: 285px;
//                     height: 600px;
//                 }
//                 .stone-wall-wide-page-item-id3 {
//                     top: 315px;
//                     left: 0;
//                     width: 600px;
//                     height: 600px;
//                 }
//                 .stone-wall-wide-page-item-id4 {
//                     top: 0px;
//                     left: 316px;
//                     width: 285px;
//                     height: 285px;
//                 }
//                 .stone-wall-wide-page-item-id5 {
//                     top: 945px;
//                     left: 315px;
//                     width: 285px;
//                     height: 285px;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 670px){
//     .stone-wall-wide-page {
//         .stone-wall-wide-page-wrapper {
//             .stone-wall-wide-page-items {
//                 width: 420px;
//                 height: 2738.55px;
//                 .stone-wall-wide-page-item-id1 {
//                     width: 420px;
//                     height: 420px;
//                 }
//                 .stone-wall-wide-page-item-id2 {
//                     top: 900px;
//                     left: 0px;
//                     width: 420px;
//                     height: 868.55px;
//                 }
//                 .stone-wall-wide-page-item-id3 {
//                     top: 450px;
//                     left: 0px;
//                     width: 420px;
//                     height: 420px;
//                 }
//                 .stone-wall-wide-page-item-id4 {
//                     top: 1798.55px;
//                     left: 0px;
//                     width: 420px;
//                     height: 420px;
//                 }
//                 .stone-wall-wide-page-item-id5 {
//                     top: 2248.55px;
//                     left: 0px;
//                     width: 420px;
//                     height: 420px;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 480px){
//     .stone-wall-wide-page {
//         .stone-wall-wide-page-wrapper {
//             .stone-wall-wide-page-header {
//                 padding: 60px 0px 60px 0px;
//             }
//             .stone-wall-wide-page-items {
//                 width: 300px;
//                 height: 2010.39px;
//                 .stone-wall-wide-page-item-id1 {
//                     width: 300px;
//                     height: 300px;
//                 }
//                 .stone-wall-wide-page-item-id2 {
//                     top: 660px;
//                     left: 0px;
//                     width: 300px;
//                     height: 620.39px;
//                 }
//                 .stone-wall-wide-page-item-id3 {
//                     top: 330px;
//                     left: 0px;
//                     width: 300px;
//                     height: 300px;
//                 }
//                 .stone-wall-wide-page-item-id4 {
//                     top: 1310.30px;
//                     left: 0px;
//                     width: 300px;
//                     height: 300px;
//                 }
//                 .stone-wall-wide-page-item-id5 {
//                     top: 1640.39px;
//                     left: 0px;
//                     width: 300px;
//                     height: 300px;
//                 }
//             }
//         }
//     }
// }

@-webkit-keyframes stoneWallWidePageItemId2NarrowScreen {
    from{
        top: 0px;
        left: 253.25px;
    }
    to{
        top: 408px;
        left: 0px;
    }
}
@-moz-keyframes stoneWallWidePageItemId2NarrowScreen {
    from{
        top: 0px;
        left: 253.25px;
    }
    to{
        top: 408px;
        left: 0px;
    }
}
@-o-keyframes stoneWallWidePageItemId2NarrowScreen {
    from{
        top: 0px;
        left: 253.25px;
    }
    to{
        top: 408px;
        left: 0px;
    }
}
@keyframes stoneWallWidePageItemId2NarrowScreen {
    from{
        top: 0px;
        left: 253.25px;
    }
    to{
        top: 408px;
        left: 0px;
    }
}

@-webkit-keyframes stoneWallWidePageItemId2ExpandScreen {
    from{
        top: 408px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 253.25px;
    }
}
@-moz-keyframes stoneWallWidePageItemId2ExpandScreen {
    from{
        top: 408px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 253.25px;
    }
}
@-o-keyframes stoneWallWidePageItemId2ExpandScreen {
    from{
        top: 408px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 253.25px;
    }
}
@keyframes stoneWallWidePageItemId2ExpandScreen {
    from{
        top: 408px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 253.25px;
    }
}



@-webkit-keyframes stoneWallWidePageItemId3NarrowScreen {
    from{
        top: 0px;
        left: 719.75px;
    }
    to{
        top: 0px;
        left: 408px;
    }
}
@-moz-keyframes stoneWallWidePageItemId3NarrowScreen {
    from{
        top: 0px;
        left: 719.75px;
    }
    to{
        top: 0px;
        left: 408px;
    }
}
@-o-keyframes stoneWallWidePageItemId3NarrowScreen {
    from{
        top: 0px;
        left: 719.75px;
    }
    to{
        top: 0px;
        left: 408px;
    }
}
@keyframes stoneWallWidePageItemId3NarrowScreen {
    from{
        top: 0px;
        left: 719.75px;
    }
    to{
        top: 0px;
        left: 408px;
    }
}

@-webkit-keyframes stoneWallWidePageItemId4NarrowScreen {
    from{
        top: 253.25px;
        left: 0px;
    }
    to{
        top: 1283px;
        left: 0px;
    }
}
@-moz-keyframes stoneWallWidePageItemId4NarrowScreen {
    from{
        top: 253.25px;
        left: 0px;
    }
    to{
        top: 1283px;
        left: 0px;
    }
}
@-o-keyframes stoneWallWidePageItemId4NarrowScreen {
    from{
        top: 253.25px;
        left: 0px;
    }
    to{
        top: 1283px;
        left: 0px;
    }
}
@keyframes stoneWallWidePageItemId4NarrowScreen {
    from{
        top: 253.25px;
        left: 0px;
    }
    to{
        top: 1283px;
        left: 0px;
    }
}

@-webkit-keyframes stoneWallWidePageItemId5NarrowScreen {
    from{
        top: 247.25px;
        left: 719.75px;
    }
    to{
        top: 1283px;
        left: 408px;
    }
}
@-moz-keyframes stoneWallWidePageItemId5NarrowScreen {
    from{
        top: 247.25px;
        left: 719.75px;
    }
    to{
        top: 1283px;
        left: 408px;
    }
}
@-o-keyframes stoneWallWidePageItemId5NarrowScreen {
    from{
        top: 247.25px;
        left: 719.75px;
    }
    to{
        top: 1283px;
        left: 408px;
    }
}
@keyframes stoneWallWidePageItemId5NarrowScreen {
    from{
        top: 247.25px;
        left: 719.75px;
    }
    to{
        top: 1283px;
        left: 408px;
    }
}

@-webkit-keyframes stoneWallWidePageItemId6NarrowScreen {
    from{
        top: 499.5px;
        left: 253.25px;
    }
    to{
        top: 1707px;
        left: 408px;
    }
}
@-moz-keyframes stoneWallWidePageItemId6NarrowScreen {
    from{
        top: 499.5px;
        left: 253.25px;
    }
    to{
        top: 1707px;
        left: 408px;
    }
}
@-o-keyframes stoneWallWidePageItemId6NarrowScreen {
    from{
        top: 499.5px;
        left: 253.25px;
    }
    to{
        top: 1707px;
        left: 408px;
    }
}
@keyframes stoneWallWidePageItemId6NarrowScreen {
    from{
        top: 499.5px;
        left: 253.25px;
    }
    to{
        top: 1707px;
        left: 408px;
    }
}

@-webkit-keyframes stoneWallWidePageItemId7NarrowScreen {
    from{
        top: 499.5px;
        left: 506.5px;
    }
    to{
        top: 2116px;
        left: 0px;
    }
}
@-moz-keyframes stoneWallWidePageItemId7NarrowScreen {
    from{
        top: 499.5px;
        left: 506.5px;
    }
    to{
        top: 2116px;
        left: 0px;
    }
}
@-o-keyframes stoneWallWidePageItemId7NarrowScreen {
    from{
        top: 499.5px;
        left: 506.5px;
    }
    to{
        top: 2116px;
        left: 0px;
    }
}
@keyframes stoneWallWidePageItemId7NarrowScreen {
    from{
        top: 499.5px;
        left: 506.5px;
    }
    to{
        top: 2116px;
        left: 0px;
    }
}


@-webkit-keyframes stoneWallPageItemId5Expand2Screen {
    from{
        top: 2248.55px;
        left: 0px;
    }
    to{
        top: 945px;
        left: 315px;
    }
}
@-moz-keyframes stoneWallPageItemId5Expand2Screen {
    from{
        top: 2248.55px;
        left: 0px;
    }
    to{
        top: 945px;
        left: 315px;
    }
}
@-o-keyframes stoneWallPageItemId5Expand2Screen {
    from{
        top: 2248.55px;
        left: 0px;
    }
    to{
        top: 945px;
        left: 315px;
    }
}
@keyframes stoneWallPageItemId5Expand2Screen {
    from{
        top: 2248.55px;
        left: 0px;
    }
    to{
        top: 945px;
        left: 315px;
    }
}



@-webkit-keyframes stoneWallPageItemId4ExpandScreen {
    from{
        top: 0px;
        left: 398px;
    }
    to{
        top: 653.33px;
        left: 326.66px;
    }
}
@-moz-keyframes stoneWallPageItemId4ExpandScreen {
    from{
        top: 0px;
        left: 398px;
    }
    to{
        top: 653.33px;
        left: 326.66px;
    }
}
@-o-keyframes stoneWallPageItemId4ExpandScreen {
    from{
        top: 0px;
        left: 398px;
    }
    to{
        top: 653.33px;
        left: 326.66px;
    }
}
@keyframes stoneWallPageItemId4ExpandScreen {
    from{
        top: 0px;
        left: 398px;
    }
    to{
        top: 653.33px;
        left: 326.66px;
    }
}

@-webkit-keyframes stoneWallPageItemId4Narrow2Screen {
    from{
        top: 0px;
        left: 316px;
    }
    to{
        top: 1798.55px;
        left: 0px;
    }
}
@-moz-keyframes stoneWallPageItemId4Narrow2Screen {
    from{
        top: 0px;
        left: 316px;
    }
    to{
        top: 1798.55px;
        left: 0px;
    }
}
@-o-keyframes stoneWallPageItemId4Narrow2Screen {
    from{
        top: 0px;
        left: 316px;
    }
    to{
        top: 1798.55px;
        left: 0px;
    }
}
@keyframes stoneWallPageItemId4Narrow2Screen {
    from{
        top: 0px;
        left: 316px;
    }
    to{
        top: 1798.55px;
        left: 0px;
    }
}

@-webkit-keyframes stoneWallPageItemId4Expand2Screen {
    from{
        top: 1798.55px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 316px;
    }
}
@-moz-keyframes stoneWallPageItemId4Expand2Screen {
    from{
        top: 1798.55px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 316px;
    }
}
@-o-keyframes stoneWallPageItemId4Expand2Screen {
    from{
        top: 1798.55px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 316px;
    }
}
@keyframes stoneWallPageItemId4Expand2Screen {
    from{
        top: 1798.55px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 316px;
    }
}

@-webkit-keyframes stoneWallPageItemId3NarrowScreen {
    from{
        top: 0px;
        left: 376.66px;
    }
    to{
        top: 398px;
        left: 0;
    }
}
@-moz-keyframes stoneWallPageItemId3NarrowScreen {
    from{
        top: 0px;
        left: 376.66px;
    }
    to{
        top: 398px;
        left: 0;
    }
}
@-o-keyframes stoneWallPageItemId3NarrowScreen {
    from{
        top: 0px;
        left: 376.66px;
    }
    to{
        top: 326.66px;
        left: 0;
    }
}
@keyframes stoneWallPageItemId3NarrowScreen {
    from{
        top: 0px;
        left: 376.66px;
    }
    to{
        top: 398px;
        left: 0;
    }
}

@-webkit-keyframes stoneWallPageItemId3ExpandScreen {
    from{
        top: 398px;
        left: 0;
    }
    to{
        top: 0px;
        left: 326.66px;
    }
}
@-moz-keyframes stoneWallPageItemId3ExpandScreen {
    from{
        top: 398px;
        left: 0;
    }
    to{
        top: 0px;
        left: 326.66px;
    }
}
@-o-keyframes stoneWallPageItemId3ExpandScreen {
    from{
        top: 398px;
        left: 0;
    }
    to{
        top: 0px;
        left: 326.66px;
    }
}
@keyframes stoneWallPageItemId3ExpandScreen {
    from{
        top: 398px;
        left: 0;
    }
    to{
        top: 0px;
        left: 326.66px;
    }
}

@-webkit-keyframes stoneWallPageItemId3Narrow2Screen {
    from{
        top: 326.66px;
    }
    to{
        top: 450px;
    }
}
@-moz-keyframes stoneWallPageItemId3Narrow2Screen {
    from{
        top: 326.66px;
    }
    to{
        top: 450px;
    }
}
@-o-keyframes stoneWallPageItemId3Narrow2Screen {
    from{
        top: 326.66px;
    }
    to{
        top: 450px;
    }
}
@keyframes stoneWallPageItemId3Narrow2Screen {
    from{
        top: 326.66px;
    }
    to{
        top: 450px;
    }
}

@-webkit-keyframes stoneWallPageItemId3Expand2Screen {
    from{
        top: 450px;
    }
    to{
        top: 326.66px;
    }
}
@-moz-keyframes stoneWallPageItemId3Expand2Screen {
    from{
        top: 450px;
    }
    to{
        top: 326.66px;
    }
}
@-o-keyframes stoneWallPageItemId3Expand2Screen {
    from{
        top: 450px;
    }
    to{
        top: 326.66px;
    }
}
@keyframes stoneWallPageItemId3Expand2Screen {
    from{
        top: 450px;
    }
    to{
        top: 326.66px;
    }
}

@-webkit-keyframes stoneWallPageItemId2NarrowScreen {
    from{
        top: 326.66px;
        left: 0;
    }
    to{
        top: 1196px;
        left: 0px;
    }
}
@-moz-keyframes stoneWallPageItemId2NarrowScreen {
    from{
        top: 326.66px;
        left: 0;
    }
    to{
        top: 1196px;
        left: 0px;
    }
}
@-o-keyframes stoneWallPageItemId2NarrowScreen {
    from{
        top: 326.66px;
        left: 0;
    }
    to{
        top: 1196px;
        left: 0px;
    }
}
@keyframes stoneWallPageItemId2NarrowScreen {
    from{
        top: 326.66px;
        left: 0;
    }
    to{
        top: 1196px;
        left: 0px;
    }
}

@-webkit-keyframes stoneWallPageItemId2ExpandScreen {
    from{
        top: 1196px;
        left: 0px;
    }
    to{
        top: 326.66px;
        left: 0;
    }
}
@-moz-keyframes stoneWallPageItemId2ExpandScreen {
    from{
        top: 1196px;
        left: 0px;
    }
    to{
        top: 326.66px;
        left: 0;
    }
}
@-o-keyframes stoneWallPageItemId2ExpandScreen {
    from{
        top: 1196px;
        left: 0px;
    }
    to{
        top: 326.66px;
        left: 0;
    }
}
@keyframes stoneWallPageItemId2ExpandScreen {
    from{
        top: 1196px;
        left: 0px;
    }
    to{
        top: 326.66px;
        left: 0;
    }
}

@-webkit-keyframes stoneWallPageItemId2Narrow2Screen {
    from{
        top: 945px;
    }
    to{
        top: 900px;
    }
}
@-moz-keyframes stoneWallPageItemId2Narrow2Screen {
    from{
        top: 945px;
    }
    to{
        top: 900px;
    }
}
@-o-keyframes stoneWallPageItemId2Narrow2Screen {
    from{
        top: 945px;
    }
    to{
        top: 900px;
    }
}
@keyframes stoneWallPageItemId2Narrow2Screen {
    from{
        top: 945px;
    }
    to{
        top: 900px;
    }
}

@-webkit-keyframes stoneWallPageItemId2Expand2Screen {
    from{
        top: 900px;
    }
    to{
        top: 945px;
    }
}
@-moz-keyframes stoneWallPageItemId2Expand2Screen {
    from{
        top: 900px;
    }
    to{
        top: 945px;
    }
}
@-o-keyframes stoneWallPageItemId2Expand2Screen {
    from{
        top: 900px;
    }
    to{
        top: 945px;
    }
}
@keyframes stoneWallPageItemId2Expand2Screen {
    from{
        top: 900px;
    }
    to{
        top: 945px;
    }
}
