.section-1-data-item {
    margin: 0 10px 0 10px;
    .arrow-wrapper {
        display: flex;
        margin-top: 30px;
        align-items: center;
        cursor: pointer;
        
       .arrow-horizontal-line {
            border: 1px solid black;
            background: black;
            width: 60px;
       }
       .arrow-wrapper2 {
            transform: translate(-5px);
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
           .arrow-top-line {
                border: 1px solid black;
                height: 0px;
                transform: translate(-1px, 1px) rotate(-45deg);
           }
           .arrow-bottom-line {
                border: 1px solid black;
                height: 0px;
                transform: translate(-1px, -1px) rotate(45deg);
           }
       }
    }

   .arrow-wrapper-lengthen {
        display: flex;
        margin-top: 30px;
        align-items: center;
        cursor: pointer;
       .arrow-horizontal-line {
            border: 1px solid black;
            background: black;
            width: 60px;
            -webkit-animation: lengthenHorizontalLine .1s linear;
            -moz-animation: lengthenHorizontalLine .1s linear;
            -o-animation: lengthenHorizontalLine .1s linear;
            animation: lengthenHorizontalLine .1s linear;
       }
       .arrow-wrapper2 {
            transform: translate(-5px);
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
           .arrow-top-line {
                border: 0px solid black;
                height: 10px;
                transform: translate(-1px, 2.5px) rotate(-45deg);
                -webkit-animation: lengthenArrowLines .1s linear;
                -moz-animation: lengthenArrowLines .1s linear;
                -o-animation: lengthenArrowLines .1s linear;
                animation: lengthenArrowLines .1s linear;
                animation-delay: .2s;
                animation-fill-mode: both;
           }
           .arrow-bottom-line {
                border: 0px solid black;
                height: 10px;
                transform: translate(-1px, -2.5px) rotate(45deg);
                -webkit-animation: lengthenArrowLines .1s linear;
                -moz-animation: lengthenArrowLines .1s linear;
                -o-animation: lengthenArrowLines .1s linear;
                animation: lengthenArrowLines .1s linear;
                animation-delay: .2s;
                animation-fill-mode: both;
           }
       }
   }
   .arrow-wrapper-shorten {
        display: flex;
        margin-top: 30px;
        align-items: center;
        cursor: pointer;
        .arrow-horizontal-line {
                border: 1px solid black;
                background: black;
                width: 50px;
                -webkit-animation: shortenHorizontalLine .1s linear;
                -moz-animation: shortenHorizontalLine .1s linear;
                -o-animation: shortenHorizontalLine .1s linear;
                animation: shortenHorizontalLine .1s linear;
                animation-delay: .1s;
                animation-fill-mode: both;
        }
        .arrow-wrapper2 {
            transform: translate(-5px);
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .arrow-top-line {
                    border: 1px solid black;
                    height: 0px;
                    transform: translate(-1px, 1px) rotate(-45deg);
                    -webkit-animation: shortenArrowLines .1s linear;
                    -moz-animation: shortenArrowLines .1s linear;
                    -o-animation: shortenArrowLines .1s linear;
                    animation: shortenArrowLines .1s linear;
            }
            .arrow-bottom-line {
                    border: 1px solid black;
                    height: 0px;
                    transform: translate(-1px, -1px) rotate(45deg);
                    -webkit-animation: shortenArrowLines .1s linear;
                    -moz-animation: shortenArrowLines .1s linear;
                    -o-animation: shortenArrowLines .1s linear;
                    animation: shortenArrowLines .1s linear;
            }
        }
    }
}



@-webkit-keyframes lengthenArrowLines {
    from{
        height: 0px;
        border: 0px solid black;
    }
    to{
        height: 15px;
        border: 1px solid black;
    }
}
@-moz-keyframes lengthenArrowLines {
    from{
        height: 0px;
        border: 0px solid black;
    }
    to{
        height: 15px;
        border: 1px solid black;
    }
}
@-o-keyframes lengthenArrowLines {
    from{
        height: 0px;
        border: 0px solid black;
    }
    to{
        height: 15px;
        border: 1px solid black;
    }
}

@keyframes lengthenArrowLines {
    from{
        height: 0px;
        border: 0px solid black;
    }
    to{
        height: 15px;
        border: 1px solid black;
    }
}

@-webkit-keyframes shortenArrowLines {
    from{height: 15px;}
    to{height: 0px;}
}
@-moz-keyframes shortenArrowLines {
    from{height: 15px;}
    to{height: 0px;}
}
@-o-keyframes shortenArrowLines {
    from{height: 15px;}
    to{height: 0px;}
}
@keyframes shortenArrowLines {
    from{height: 15px;}
    to{height: 0px;}
}

@-webkit-keyframes lengthenHorizontalLine {
    from{width: 50px;}
    to{width: 60px;}
}
@-moz-keyframes lengthenHorizontalLine {
    from{width: 50px;}
    to{width: 60px;}
}
@-o-keyframes lengthenHorizontalLine {
    from{width: 50px;}
    to{width: 60px;}
}

@keyframes lengthenHorizontalLine {
    from{width: 50px;}
    to{width: 60px;}
}

@-webkit-keyframes shortenHorizontalLine {
    from{width: 60px;}
    to{width: 50px;}
}
@-moz-keyframes shortenHorizontalLine {
    from{width: 60px;}
    to{width: 50px;}
}
@-o-keyframes shortenHorizontalLine {
    from{width: 60px;}
    to{width: 50px;}
}

@keyframes shortenHorizontalLine {
    from{width: 60px;}
    to{width: 50px;}
}
