.section-1-data-item {
    .arrow-wrapper {
        display: flex;
        margin-top: 30px;
        align-items: center;
        cursor: pointer;
       .arrow-horizontal-line {
            border: 1px solid red;
            background: red;
            width: 50px;
            &:hover {
                -webkit-animation: lengthenHorizontalLine .5s linear;
                -moz-animation: lengthenHorizontalLine .5s linear;
                -o-animation: lengthenHorizontalLine .5s linear;
                animation: lengthenHorizontalLine .5s linear;
            }
       }
       .arrow-wrapper2 {
            transform: translate(-5px);
           .arrow-top-line {
                border: 1px solid green;
                height: 10px;
                transform: rotate(135deg);
           }
           .arrow-bottom-line {
                border: 1px solid blue;
                height: 10px;
                transform: rotate(45deg);
           }
       }
   }

   .arrow-wrapper-lengthen {
        display: flex;
        margin-top: 30px;
        align-items: center;
        cursor: pointer;
       .arrow-horizontal-line {
            border: 1px solid red;
            background: red;
            width: 68px;
            -webkit-animation: lengthenHorizontalLine .5s linear;
            -moz-animation: lengthenHorizontalLine .5s linear;
            -o-animation: lengthenHorizontalLine .5s linear;
            animation: lengthenHorizontalLine .5s linear;
       }
       .arrow-wrapper2 {
            transform: translate(-5px);
           .arrow-top-line {
                border: 1px solid green;
                height: 10px;
                transform: rotate(135deg);
           }
           .arrow-bottom-line {
                border: 1px solid blue;
                height: 10px;
                transform: rotate(45deg);
           }
       }
   }
   .arrow-wrapper-shorten {
        display: flex;
        margin-top: 30px;
        align-items: center;
        cursor: pointer;
        .arrow-horizontal-line {
                border: 1px solid red;
                background: red;
                width: 50px;
                -webkit-animation: shortenHorizontalLine .5s linear;
                -moz-animation: shortenHorizontalLine .5s linear;
                -o-animation: shortenHorizontalLine .5s linear;
                animation: shortenHorizontalLine .5s linear;
        }
        .arrow-wrapper2 {
                transform: translate(-5px);
            .arrow-top-line {
                    border: 1px solid green;
                    height: 10px;
                    transform: rotate(135deg);
            }
            .arrow-bottom-line {
                    border: 1px solid blue;
                    height: 10px;
                    transform: rotate(45deg);
            }
        }
    }
}

@-webkit-keyframes lengthenHorizontalLine {
    from{width: 50px;}
    to{width: 68px;}
}
@-moz-keyframes lengthenHorizontalLine {
    from{width: 50px;}
    to{width: 68px;}
}
@-o-keyframes lengthenHorizontalLine {
    from{width: 50px;}
    to{width: 68px;}
}

@keyframes lengthenHorizontalLine {
    from{width: 50px;}
    to{width: 68px;}
}

@-webkit-keyframes shortenHorizontalLine {
    from{width: 68px;}
    to{width: 50px;}
}
@-moz-keyframes shortenHorizontalLine {
    from{width: 68px;}
    to{width: 50px;}
}
@-o-keyframes shortenHorizontalLine {
    from{width: 68px;}
    to{width: 50px;}
}

@keyframes shortenHorizontalLine {
    from{width: 68px;}
    to{width: 50px;}
}
