.small-slider {
    width: calc(100% + 18px);
    .small-slider-loading-error {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .small-slider-wrapper {
        display: flex;
        flex-direction: column;
        padding: 70px 130px 70px 130px;
        .small-slider-content {
            width: 100% ;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .small-slider-portfolio-swiper {
                width: calc(69% - 50px);
                padding-right: 50px;
            }
            .small-slider-content-info {
                width: 31%;
            }
        }
    }
}

@media only screen and (max-width: 1110px){
    .small-slider {
        .small-slider-wrapper {
            .small-slider-content {
                .small-slider-portfolio-swiper {
                    width: 100%;
                    padding-right: 0px;
                }
                .small-slider-content-info {
                    width: 100%;
                    padding-top: 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px){
    .small-slider {
        .small-slider-wrapper {
            padding: 70px 70px 70px 70px;
        }
    }
}

@media only screen and (max-width: 680px){
    .small-slider {
        .small-slider-wrapper {
            padding: 70px 30px 70px 30px;
        }
    }
}

// @media only screen and (max-width: 600px){
//     .small-gallery {
//         .small-gallery-wrapper {
//             padding: 70px 30px 70px 30px;
//         }
//     }
// }
