.team-information-card {
    width: 20%;
    position: relative;
    .team-information-card-image {
        width: 100%;
        >img {
            width: 100%;
        }
        .team-information-card-info {
            background: rgba(0, 0, 0, 0.7);
            width: calc(100% - 40px);
            position: absolute;
            left: 0%;
            top: 0%;
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0px 0px 0px 40px;
            .team-information-card-icon {
                color: white;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 945px){
    .team-information-card {
        width: 100%;
    }
}
