.photoViewer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 800;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .photoViewer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 625px;
        height: 100vh;
        .photoViewer-full-screen {
            display: flex;
            justify-content: flex-end;
            position: relative;
            left: 20px;
            cursor: pointer;
        }
        .photoViewer-image-items{
            height: 457px;
            border: 2px solid red;
        }
        .photoViewer-toolbar {
            border: 2px solid red;
            height: 60px;
            .photoViewer-navigation {
                cursor: pointer;
                .photoViewer-navigation-left-arrow{
                //     .arrow-top-line {
                //         border: 1px solid black;
                //         height: 5px;
                //         transform: translate(-1px, 1px) rotate(-45deg);
                //    }
                //    .arrow-bottom-line {
                //         border: 1px solid black;
                //         height: 5px;
                //         transform: translate(-1px, -1px) rotate(45deg);
                //    }
                    
                }
                .photoViewer-navigation-right-arrow{
                //     .arrow-top-line {
                //         border: 1px solid black;
                //         height: 5px;
                //         transform: translate(-1px, 1px) rotate(-45deg);
                //    }
                //    .arrow-bottom-line {
                //         border: 1px solid black;
                //         height: 5px;
                //         transform: translate(-1px, -1px) rotate(45deg);
                //    }
                }

            }
            .photoViewer-pagination {

            }
            .photoViewer-close {

            }
        }
    }
}

// @media only screen and (max-width: 1310px){
//     .section-1 {
//         .section-1-data-items {
//             flex-direction: column;
//             padding: 80px 100px 80px 100px;
//         }
//     }
// }

// @media only screen and (max-width: 860px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 60px 80px 60px 80px;
//         }
//     }
// }

// @media only screen and (max-width: 730px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 40px 60px 40px 60px;
//         }
//     }
// }

