.photo-viewer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 800;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .photo-viewer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 625px;
        height: 100vh;
        .photo-viewer-full-screen {
            display: flex;
            justify-content: flex-end;
            position: relative;
            left: 20px;
            cursor: pointer;
        }
        .photo-viewer-image-item{
            height: 457px;
            >img {
                width: 625px;
                height: 457px;
            }
        }
        .photo-viewer-toolbar {
            height: 60px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .photo-viewer-navigation {
                margin: 0px 20px 0px 20px;
                width: 30px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                .photo-viewer-navigation-left-arrow {
                    width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 3px) rotate(45deg);
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -3px) rotate(-45deg);
                    }
                }
                .photo-viewer-navigation-left-arrow-hover-on {
                    width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 3px) rotate(45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -3px) rotate(-45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                }
                .photo-viewer-navigation-left-arrow-hover-off {
                    width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 3px) rotate(45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -3px) rotate(-45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                }
                .photo-viewer-navigation-right-arrow {
                        width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 3px)  rotate(-45deg);
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -3px) rotate(45deg);
                    }
                }
                .photo-viewer-navigation-right-arrow-hover-on {
                        width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 3px)  rotate(-45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -3px) rotate(45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                }
                .photo-viewer-navigation-right-arrow-hover-off {
                        width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 3px)  rotate(-45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -3px) rotate(45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                }
            }
            .photo-viewer-close-wrapper {
                display: flex;
                width: 50px;
                margin: 0px 27px 0px 20px;
                cursor: pointer;
                .photo-viewer-close {
                    .close-first-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(7px, 6px) rotate(45deg);
                    }
                    .close-second-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(7px, -8px) rotate(-45deg);
                    }
                }
            }
            .photo-viewer-close-wrapper-hover-on {
                display: flex;
                width: 50px;
                margin: 0px 27px 0px 20px;
                cursor: pointer;
                .photo-viewer-close {
                    .close-first-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        transform: translate(7px, 6px) rotate(45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                    .close-second-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        transform: translate(7px, -8px) rotate(-45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                }
            }
            .photo-viewer-close-wrapper-hover-off {
                display: flex;
                width: 50px;
                margin: 0px 27px 0px 20px;
                cursor: pointer;
                .photo-viewer-close {
                    .close-first-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(7px, 6px) rotate(45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                    .close-second-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(7px, -8px) rotate(-45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                }
            }
        }
    }
}    

// @media only screen and (max-width: 1310px){
//     .section-1 {
//         .section-1-data-items {
//             flex-direction: column;
//             padding: 80px 100px 80px 100px;
//         }
//     }
// }

// @media only screen and (max-width: 860px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 60px 80px 60px 80px;
//         }
//     }
// }

// @media only screen and (max-width: 730px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 40px 60px 40px 60px;
//         }
//     }
// }


@-webkit-keyframes hoverArrowOn {
    from{border: 1px solid rgb(155, 155, 155);}
    to{border: 1px solid rgb(37, 37, 37);}
}
@-moz-keyframes hoverArrowOn {
    from{border: 1px solid rgb(155, 155, 155);}
    to{border: 1px solid rgb(37, 37, 37);}
}
@-o-keyframes hoverArrowOn {
    from{border: 1px solid rgb(155, 155, 155);}
    to{border: 1px solid rgb(37, 37, 37);}
}
@keyframes hoverArrowOn {
    from{border: 1px solid rgb(155, 155, 155);}
    to{border: 1px solid rgb(37, 37, 37);}
}

@-webkit-keyframes hoverArrowOff {
    from{border: 1px solid rgb(37, 37, 37);}
    to{border: 1px solid rgb(155, 155, 155);}
}
@-moz-keyframes hoverArrowOff {
    from{border: 1px solid rgb(37, 37, 37);}
    to{border: 1px solid rgb(155, 155, 155);}
}
@-o-keyframes hoverArrowOff {
    from{border: 1px solid rgb(37, 37, 37);}
    to{border: 1px solid rgb(155, 155, 155);}
}
@keyframes hoverArrowOff {
    from{border: 1px solid rgb(37, 37, 37);}
    to{border: 1px solid rgb(155, 155, 155);}
}
