.photoViewer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 800;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .photoViewer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 625px;
        height: 100vh;
        .photoViewer-full-screen {
            display: flex;
            justify-content: flex-end;
            position: relative;
            left: 20px;
            cursor: pointer;
        }
        .photoViewer-image-items{
            height: 457px;
            border: 2px solid red;
        }
        .photoViewer-toolbar {
            height: 60px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .photoViewer-navigation {
                margin: 0px 20px 0px 20px;
                width: 30px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                .photoViewer-navigation-left-arrow {
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(5px, 3px) rotate(45deg);
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(5px, -3px) rotate(-45deg);
                    }
                }
                .photoViewer-navigation-left-arrow-hover-on {
                    .arrow-top-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        transform: translate(5px, 3px) rotate(45deg);
                        -webkit-animation: hoverOnArrowOn .5s linear;
                        -moz-animation: hoverOnArrowOn .5s linear;
                        -o-animation: hoverOnArrowOn .5s linear;
                        animation: hoverOnArrowOn .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        transform: translate(5px, -3px) rotate(-45deg);
                        -webkit-animation: hoverOnArrowOn .5s linear;
                        -moz-animation: hoverOnArrowOn .5s linear;
                        -o-animation: hoverOnArrowOn .5s linear;
                        animation: hoverOnArrowOn .5s linear;
                    }
                }
                .photoViewer-navigation-left-arrow-hover-off {
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(5px, 3px) rotate(45deg);
                        -webkit-animation: hoverOnArrowOff .5s linear;
                        -moz-animation: hoverOnArrowOff .5s linear;
                        -o-animation: hoverOnArrowOff .5s linear;
                        animation: hoverOnArrowOff .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(5px, -3px) rotate(-45deg);
                        -webkit-animation: hoverOnArrowOff .5s linear;
                        -moz-animation: hoverOnArrowOff .5s linear;
                        -o-animation: hoverOnArrowOff .5s linear;
                        animation: hoverOnArrowOff .5s linear;
                    }
                }
                .photoViewer-navigation-right-arrow {
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(5px, 3px)  rotate(-45deg);
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(5px, -3px) rotate(45deg);
                    }
                }
                .photoViewer-navigation-right-arrow-hover-on {
                    .arrow-top-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        transform: translate(5px, 3px)  rotate(-45deg);
                        -webkit-animation: hoverOnArrowOn .5s linear;
                        -moz-animation: hoverOnArrowOn .5s linear;
                        -o-animation: hoverOnArrowOn .5s linear;
                        animation: hoverOnArrowOn .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(37, 37, 37);
                        height: 12px;
                        transform: translate(5px, -3px) rotate(45deg);
                        -webkit-animation: hoverOnArrowOn .5s linear;
                        -moz-animation: hoverOnArrowOn .5s linear;
                        -o-animation: hoverOnArrowOn .5s linear;
                        animation: hoverOnArrowOn .5s linear;
                    }
                }
                .photoViewer-navigation-right-arrow-hover-off {
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(5px, 3px)  rotate(-45deg);
                        -webkit-animation: hoverOnArrowOff .5s linear;
                        -moz-animation: hoverOnArrowOff .5s linear;
                        -o-animation: hoverOnArrowOff .5s linear;
                        animation: hoverOnArrowOff .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(5px, -3px) rotate(45deg);
                        -webkit-animation: hoverOnArrowOff .5s linear;
                        -moz-animation: hoverOnArrowOff .5s linear;
                        -o-animation: hoverOnArrowOff .5s linear;
                        animation: hoverOnArrowOff .5s linear;
                    }
                }
            }
            .photoViewer-close {
                border: 2px solid red;
                width: 50px;
            }
        }
    }
}    
 .arrow-top-line {
    border: 1px solid rgb(37, 37, 37);
    -webkit-animation: hoverOnArrowTrue .5s linear;
    -moz-animation: hoverOnArrowTrue .5s linear;
    -o-animation: hoverOnArrowTrue .5s linear;
    animation: hoverOnArrowTrue .5s linear;
}
.arrow-bottom-line {
    border: 1px solid rgb(37, 37, 37);
    -webkit-animation: hoverOnArrowTrue .5s linear;
    -moz-animation: hoverOnArrowTrue .5s linear;
    -o-animation: hoverOnArrowTrue .5s linear;
    animation: hoverOnArrowTrue .5s linear;
}

// @media only screen and (max-width: 1310px){
//     .section-1 {
//         .section-1-data-items {
//             flex-direction: column;
//             padding: 80px 100px 80px 100px;
//         }
//     }
// }

// @media only screen and (max-width: 860px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 60px 80px 60px 80px;
//         }
//     }
// }

// @media only screen and (max-width: 730px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 40px 60px 40px 60px;
//         }
//     }
// }


@-webkit-keyframes hoverOnArrowOn {
    from{border: 1px solid rgb(155, 155, 155);}
    to{border: 1px solid rgb(37, 37, 37);}
}
@-moz-keyframes hoverOnArrowOn {
    from{border: 1px solid rgb(155, 155, 155);}
    to{border: 1px solid rgb(37, 37, 37);}
}
@-o-keyframes hoverOnArrowOn {
    from{border: 1px solid rgb(155, 155, 155);}
    to{border: 1px solid rgb(37, 37, 37);}
}
@keyframes hoverOnArrowOn {
    from{border: 1px solid rgb(155, 155, 155);}
    to{border: 1px solid rgb(37, 37, 37);}
}

@-webkit-keyframes hoverOnArrowOff {
    from{border: 1px solid rgb(37, 37, 37);}
    to{border: 1px solid rgb(155, 155, 155);}
}
@-moz-keyframes hoverOnArrowOff {
    from{border: 1px solid rgb(37, 37, 37);}
    to{border: 1px solid rgb(155, 155, 155);}
}
@-o-keyframes hoverOnArrowOff {
    from{border: 1px solid rgb(37, 37, 37);}
    to{border: 1px solid rgb(155, 155, 155);}
}
@keyframes hoverOnArrowOff {
    from{border: 1px solid rgb(37, 37, 37);}
    to{border: 1px solid rgb(155, 155, 155);}
}
