.footer {
    .footer-info {
        background-color: rgb(37, 37, 37);
        .footer-info-wrapper {
            display: flex;
            justify-content: center;
            // align-items: flex-start;
            flex-wrap: wrap;
            padding: 0 70px 0 70px;
            width: calc(100% - 140px);
            .footer-info-section {
                width: calc(25% - 60px);
                padding: 20px 30px 20px 30px;
                .footer-info-section-wrapper {
                    display: flex;
                }
            }
            .footer-info-map {
                width: 250px;
                cursor: pointer;
                >img {
                    width: 100%;
                }
            }
        }
       
    }
    .footer-copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -10px 0px rgb(59, 59, 59);
        background-color: rgb(23, 23, 23);
    }
}

// @media only screen and (max-width: 1310px){
//     .section-1 {
//         .section-1-data-items {
//             flex-direction: column;
//             padding: 80px 100px 80px 100px;
//         }
//     }
// }

// @media only screen and (max-width: 860px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 60px 80px 60px 80px;
//         }
//     }
// }

// @media only screen and (max-width: 730px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 40px 60px 40px 60px;
//         }
//     }
// }

