.pricing-tables-page {
    width: calc(100% + 18px);
    .pricing-tables-page-loading-error {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pricing-tables-page-wrapper {
        display: flex;
        flex-direction: column;
        .pricing-tables-page-header {
            padding: 90px 130px 90px 130px;
        }
        .grey-line {
            width: 100%;
            height: 10px;
            background-color: rgb(239, 239, 239);
        }
        .pricing-tables-page-section1-data-items {
            display: flex;
            flex-wrap: wrap;
            background: rgb(248, 248, 248);
            padding: 130px;
            .pricing-tables-page-section1-data-item {
                width: 25%;
            }
        }
        .pricing-tables-page-section2-data-items {
            display: flex;
            flex-wrap: wrap;
            background: black;
            padding: 110px 130px 110px 130px;
            .pricing-tables-page-section2-data-item {
                width: 33.3%;
            }
        }
    }
}

@media only screen and (max-width: 1450px){
    .pricing-tables-page {
        .pricing-tables-page-wrapper {
            .pricing-tables-page-header {
                padding: 90px 40px 90px 40px;
            }
            .pricing-tables-page-section1-data-items {
                padding: 110px 40px 110px 40px;
            }
            .pricing-tables-page-section2-data-items {
                padding: 110px 40px 110px 40px;
            }
        }
    }
}

@media only screen and (max-width: 1260px){
    .pricing-tables-page {
        .pricing-tables-page-wrapper {
            .pricing-tables-page-header {
                padding: 90px 130px 90px 130px;
            }
            .pricing-tables-page-section1-data-items {
                padding: 90px 130px 90px 130px;
                .pricing-tables-page-section1-data-item {
                    padding-top: 40px;
                    width: 50%;
                }
            }
            .pricing-tables-page-section2-data-items {
                padding: 70px 130px 70px 130px;
                .pricing-tables-page-section2-data-item {
                    padding-top: 40px;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 860px){
    .pricing-tables-page {
        .pricing-tables-page-wrapper {
            .pricing-tables-page-header {
                padding: 90px 40px 90px 40px;
            }
            .pricing-tables-page-section1-data-items {
                padding: 90px 40px 90px 40px;
            }
            .pricing-tables-page-section2-data-items {
                padding: 70px 40px 70px 40px;
            }
        }
    }
}

@media only screen and (max-width: 660px){
    .pricing-tables-page {
        .pricing-tables-page-wrapper {
            .pricing-tables-page-section1-data-items {
                .pricing-tables-page-section1-data-item {
                    padding-top: 40px;
                    width: 100%;
                }
            }
        }
    }
}
