.h2 {
    font-size: 130px;
    // font-family: 'Lalezar', cursive;
    // color: white;
}

.h2-white {
    font-size: 130px;
    font-family: 'Lalezar', cursive;
    color: white;
    height: 130px;
}

.h2-black {
    font-size: 130px;
    font-family: 'Lalezar', cursive;
    color: black;
}
