.h2 {
    font-size: 130px;
    // font-family: 'Lalezar', cursive;
    // color: white;
}

.h2-white-teko {
    font-size: 130px;
    font-family: 'Teko', sans-serif;
    color: white;
    height: 130px;
}

.h2-black-teko {
    font-size: 130px;
    font-family: 'Teko', sans-serif;
    color: black;
}
