.contact-form-page-section-1-input {
    >input {
        width: 100%;
        height: 70px;
        font-family: 'Lustria', serif;
        font-size: 14px;
        padding: 25px;
        resize: none;
        outline: none;
        color: black;
        background-color:white;
        border: none;
        border-radius: 2px;
        &:focus {
            outline: none;
            border: 1px solid rgba(155, 155, 155, 0.4);
        }
    }
    // >textarea {
    //     width: 100%;
    //     font-family: 'Yanone Kaffeesatz', sans-serif;
    //     font-size: 14px;
    //     padding: 15px;
    //     resize: vertical;
    //     outline: none;
    //     color: rgb(194, 185, 182);
    //     background-color:white;
    //     border: none;
    // }
    // >select {
    //     width: 100%;
    //     font-family: 'Yanone Kaffeesatz', sans-serif;
    //     font-size: 14px;
    //     padding: 15px;
    //     resize: vertical;
    //     outline: none;
    //     color: rgb(194, 185, 182);
    //     background-color:white;
    //     border: none;
    //     .option {
    //         color: rgb(194, 185, 182);
    //         background-color: rgb(104, 97, 95);
    //     }
    // }
}

.contact-form-page-section-2-input {
    >input {
        width: 100%;
        height: 60px;
        font-family: 'Lustria', serif;
        font-size: 14px;
        padding: 25px;
        resize: none;
        outline: none;
        color: white;
        background-color: black;
        border: 1px solid rgba(155, 155, 155, 0.4);
        border-radius: 2px;
        &:focus {
            outline: none;
            border: 2px solid white;
        }
    }
}

.add-comment-input{
    width: 95%;
    >input {
        font-family: 'Indie Flower', cursive;
        width: 100%;
        height: 27px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 10px;
        border: none;
        color: rgb(42, 20, 33);
    }
}  

.send-message-input {
    >input {
        width: 100%;
        height: 30px;
        font-family: 'Indie Flower', cursive;
        font-size: 17px;
        padding-left: 5px;
        resize: none;
        outline: none;
        color: rgb(42, 20, 33);
    }
    >textarea {
        width: 100%;
        font-family: 'Indie Flower', cursive;
        font-size: 17px;
        padding-left: 5px;
        resize: vertical;
        outline: none;
        color: rgb(42, 20, 33);
    }
}

.invalid-contact-form-page-section-1-input {
    >input {
        width: 100%;
        height: 70px;
        font-family: 'Lustria', serif;
        font-size: 14px;
        padding: 25px;
        resize: none;
        outline: none;
        color: rgb(194, 185, 182);
        background-color: white;
        border: 1px solid rgba(red, 0.4);
        border-radius: 2px;
        // border: none;
    }  
    // >textarea {
    //     width: 100%;
    //     font-family: 'Lustria', serif;
    //     font-size: 14px;
    //     padding: 15px;
    //     resize: vertical;
    //     outline: none;
    //     color: rgb(141, 133, 130);
    //     background-color: rgba(180, 139, 62, 0.2);
    //     border: none;
    // }
    // >select {
    //     width: 100%;
    //     font-family: 'Lustria', serif;
    //     font-size: 14px;
    //     padding: 15px;
    //     resize: vertical;
    //     outline: none;
    //     color: rgb(141, 133, 130);
    //     background-color: rgba(180, 139, 62, 0.2);
    //     border: none;
    //     .option {
    //         color: rgb(194, 185, 182);
    //         background-color: rgb(104, 97, 95);
    //     }
    // }
    .error { 
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Lustria', serif;
        width: inherit;
        padding: 15px 5px 9px 15px;
        color:red;
    }
}

.invalid-contact-form-page-section-2-input {
    >input {
        width: 100%;
        height: 60px;
        font-family: 'Lustria', serif;
        font-size: 14px;
        padding: 25px;
        resize: none;
        outline: none;
        color: white;
        background-color: black;
        border: 1px solid rgba(155, 155, 155, 0.4);
        border-radius: 2px;
        &:focus {
            outline: none;
            border: 2px solid white;
        }
    }
    .error { 
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Lustria', serif;
        width: inherit;
        padding: 15px 5px 9px 15px;
        color:red;
    }
}

::-webkit-input-placeholder { /* Edge */
    color: rgb(155, 155, 155);
    // opacity: 0.7;
}