.h17 {
    font-size: 17px;
    color: white;
}

.h17-nobel-lustria {
    font-size: 17px;
    color: rgb(155, 155, 155);
    font-family: 'Lustria', serif;
}

.h17-nobel-lustria-animation {
    font-size: 17px;
    color: rgb(155, 155, 155);
    font-family: 'Lustria', serif;
    cursor: pointer;
    &:hover{
        color: white;
        -webkit-animation: footerText .3s linear;
        -moz-animation: footerText .3s linear;
        -o-animation: footerText .3s linear;
        animation: footerText .3s linear;
    }
}

// .h15-pink-grey-yanone-suva {
//     font-size: 14px;
//     font-family: 'Yanone Kaffeesatz', sans-serif;
//     color: rgb(141, 133, 130);
// }

// .h15-jaldi {
//     font-size: 14px;
//     font-family: 'Jaldi', sans-serif;
//     color: white;
// }

@-webkit-keyframes footerText {
    from{color: rgb(155, 155, 155);}
    to {color: white;}
}
@-moz-keyframes footerText {
    from{color: rgb(155, 155, 155);}
    to {color: white;}
}
@-o-keyframes footerText {
    from{color: rgb(155, 155, 155);}
    to {color: white;}
}
@keyframes footerText {
    from{color: rgb(155, 155, 155);}
    to {color: white;}
}
