.big-slider {
    width: calc(100% + 18px);
    .big-slider-loading-error {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .big-slider-wrapper {
        display: flex;
        flex-direction: column;
        padding: 70px 130px 70px 130px;
        .big-slider-content {
            // width: 100%;
            // display: flex;
            // flex-wrap: wrap;
            // align-items: flex-start;
            .big-slider-content-info {
                display: flex;
                flex-wrap: wrap;
                .big-slider-text-wrapper {
                    width: calc(70% - 60px);
                    padding-right: 60px;
                }
                .big-slider-category-date-tags-wrapper {
                    width: 30%;
                    flex-direction: column;
                    .big-slider-categories {
                        display: flex;
                        flex-direction: row;
                        .big-slider-category {
                            padding-right: 10px;
                        }
                    }
                    .big-slider-tags {
                        display: flex;
                        flex-direction: row;
                        .big-slider-tag {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1030px){
    .big-slider {
        .big-slider-wrapper {
            .big-slider-content {
                .big-slider-content-info {
                    display: flex;
                    flex-wrap: wrap;
                    .big-slider-text-wrapper {
                        width: calc(100% - 60px);
                    }
                    .big-slider-category-date-tags-wrapper {
                        width: 100%;
                        padding-top: 40px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .big-slider {
        .big-slider-wrapper {
            padding: 70px 30px 70px 30px;
        }
    }
}

@media only screen and (max-width: 600px){
    .big-slider {
        .big-slider-wrapper {
            .big-slider-content {
                .big-slider-content-info {
                    .big-slider-category-date-tags-wrapper {
                        .big-slider-categories {
                            flex-direction: column;
                        }
                        .big-slider-tags {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
