.blog-list-post-card {
    >img {
        width: 100%;
        // height: 250px;
        // opacity: 0.9;
    }
    .blog-list-post-card-date {
        display: inline-flex;
    }
    .blog-list-post-card-text {
        line-height: 1.6;
    }
    .blog-list-post-card-info-wrapper {
        .blog-list-post-card-info-likes {
            display: inline-flex;
            cursor: pointer;
        }
    }
   
}
