.blog-list-post-card {
    >img {
        width: 100%;
        cursor: pointer;
    }
    .blog-list-post-card-date-and-header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .blog-list-post-card-text {
        line-height: 1.6;
    }
    .blog-list-post-card-info-wrapper {
        display: flex;
        justify-content: space-between;
        .blog-list-post-card-info-left-part-wrapper {
            display: flex;
            .blog-list-post-card-info-likes {
                display: inline-flex;
                align-items: center;
                cursor: pointer;
            }
            .blog-list-post-card-info-comments {
                display: inline-flex;
                align-items: center;
                cursor: pointer;
            }
            .blog-list-post-card-info-tags {
                display: inline-flex;
                align-items: center;
            }
        }
    }

    .blog-list-post-card-link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        background-color: rgb(37, 37, 37);
        .blog-list-post-card-link-text-wrapper {
            line-height: 1.5;
            padding-right: 30px;
        }
        .blog-list-post-card-link-icon-wrapper {
            position: absolute;
            top: 20px;
            right: 20px;
            transform: rotate(90deg);
        }
    }
    .blog-list-post-card-quote {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        background-color: white;
        .blog-list-post-card-quote-text-wrapper {
            line-height: 1.5;
            padding-right: 30px;
        }
        .blog-list-post-card-quote-author-name-wrapper {
            display: flex;
            align-items: center;
            .slide-dash {
                border: 1.5px solid rgb(37, 37, 37);
                background: rgb(37, 37, 37);
                width: 10px;
                margin-right: 5px;
            }
        }
        .blog-list-post-card-quote-icon-wrapper {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
    .blog-list-post-card-audio-wrapper {
        width: 100%;
        position: relative;
        >img {
            width: 100%;
            cursor: pointer;
        }
    }
    .blog-list-post-card-video-wrapper {
        width: 100%;
        position: relative;
    }
}
