.portfolio-gallery {
    width: calc(100% + 18px);
    .portfolio-gallery-loading-error {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio-gallery-wrapper {
        display: flex;
        flex-direction: column;
        padding: 70px 130px 70px 130px;
        .portfolio-gallery-header-wrapper {
            cursor: context-menu;
            .header-wrapper {
                display: flex;
                align-items: center;
                .portfolio-gallery-header-bold {
                    font-size: 90px;
                    color: rgb(23, 23, 23);
                    font-family: 'Poppins', sans-serif;
                    -webkit-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    -moz-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    -o-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    animation-delay: 1s;
                    animation-fill-mode: both;
                }
                .portfolio-gallery-header-text1 {
                    font-size: 90px;
                    color: rgb(23, 23, 23);
                    font-family: 'Lustria', serif;
                    padding-left: 15px;
                    -webkit-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    -moz-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    -o-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    animation-delay: 2s;
                    animation-fill-mode: both;
                }
            }
            .portfolio-gallery-header-text2 {
                font-size: 90px;
                color: rgb(23, 23, 23);
                font-family: 'Lustria', serif;
                -webkit-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                -moz-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                -o-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                animation: poortfolioGalleryHeaderTextAppear .2s linear;
                animation-delay: 3s;
                animation-fill-mode: both;
            }
        }

        .portfolio-gallery-page-items {
            display: flex;
            flex-wrap: wrap;
            width: calc(100% + 30px);
            .portfolio-gallery-page-item {
                width: calc(33.3% - 30px);
                padding: 0 30px 30px 0;
                // border: 2px solid red;
                .portfolio-gallery-page-item-image {
                    width: 100%;
                }
                .arrow-wrapper {
                    display: flex;
                    margin-top: 30px;
                    align-items: center;
                    cursor: pointer;
                   .arrow-horizontal-line {
                        border: 1px solid black;
                        background: black;
                        width: 60px;
                   }
                   .arrow-wrapper2 {
                        transform: translate(-5px);
                        height: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                       .arrow-top-line {
                            border: 1px solid transparent;
                            height: 0px;
                            transform: translate(-1px, 1px) rotate(-45deg);
                       }
                       .arrow-bottom-line {
                            border: 1px solid transparent;
                            height: 0px;
                            transform: translate(-1px, -1px) rotate(45deg);
                       }
                   }
                }
                .arrow-wrapper-lengthen {
                    display: flex;
                    margin-top: 30px;
                    align-items: center;
                    cursor: pointer;
                    .arrow-horizontal-line {
                        border: 1px solid black;
                        background: black;
                        width: 60px;
                        -webkit-animation: lengthenHorizontalLinePortfolioGallery .1s linear;
                        -moz-animation: lengthenHorizontalLinePortfolioGallery .1s linear;
                        -o-animation: lengthenHorizontalLinePortfolioGallery .1s linear;
                        animation: lengthenHorizontalLinePortfolioGallery .1s linear;
                    }
                    .arrow-wrapper2 {
                        transform: translate(-5px);
                        height: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .arrow-top-line {
                            border: 0px solid black;
                            background: black;
                            height: 10px;
                            transform: translate(-1px, 2.5px) rotate(-45deg);
                            -webkit-animation: lengthenArrowLinePortfolioGallery .1s linear;
                            -moz-animation: lengthenArrowLinePortfolioGallery .1s linear;
                            -o-animation: lengthenArrowLinePortfolioGallery .1s linear;
                            animation: lengthenArrowLinePortfolioGallery .1s linear;
                            animation-delay: .2s;
                            animation-fill-mode: both;
                        }
                        .arrow-bottom-line {
                            border: 0px solid black;
                            background: black;
                            height: 10px;
                            transform: translate(-1px, -2.5px) rotate(45deg);
                            -webkit-animation: lengthenArrowLinePortfolioGallery .1s linear;
                            -moz-animation: lengthenArrowLinePortfolioGallery .1s linear;
                            -o-animation: lengthenArrowLinePortfolioGallery .1s linear;
                            animation: lengthenArrowLinePortfolioGallery .1s linear;
                            animation-delay: .2s;
                            animation-fill-mode: both;
                        }
                    }
                }
                .arrow-wrapper-shorten {
                    display: flex;
                    margin-top: 30px;
                    align-items: center;
                    cursor: pointer;
                    .arrow-horizontal-line {
                        border: 1px solid black;
                        background: black;
                        width: 50px;
                        -webkit-animation: shortenHorizontalLinePortfolioGallery .1s linear;
                        -moz-animation: shortenHorizontalLinePortfolioGallery .1s linear;
                        -o-animation: shortenHorizontalLinePortfolioGallery .1s linear;
                        animation: shortenHorizontalLinePortfolioGallery .1s linear;
                        animation-delay: .1s;
                        animation-fill-mode: both;
                    }
                    .arrow-wrapper2 {
                        transform: translate(-5px);
                        height: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .arrow-top-line {
                            border: 1px solid transparent;
                            height: 0px;
                            transform: translate(-1px, 1px) rotate(-45deg);
                            -webkit-animation: shortenArrowLinePortfolioGallery .1s linear;
                            -moz-animation: shortenArrowLinePortfolioGallery .1s linear;
                            -o-animation: shortenArrowLinePortfolioGallery .1s linear;
                            animation: shortenArrowLinePortfolioGallery .1s linear;
                        }
                        .arrow-bottom-line {
                            border: 1px solid transparent;
                            height: 0px;
                            transform: translate(-1px, -1px) rotate(45deg);
                            -webkit-animation: shortenArrowLinePortfolioGallery .1s linear;
                            -moz-animation: shortenArrowLinePortfolioGallery .1s linear;
                            -o-animation: shortenArrowLinePortfolioGallery .1s linear;
                            animation: shortenArrowLinePortfolioGallery .1s linear;
                        }
                    }
                }
            }
        }
    }
 
    // .big-images-wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     padding: 70px 130px 70px 130px;
    //     .big-images-content {
    //         // width: 100%;
    //         // display: flex;
    //         // flex-wrap: wrap;
    //         // align-items: flex-start;
    //         .big-images-content-info {
    //             display: flex;
    //             flex-wrap: wrap;
    //             .big-images-portfolio-images {
    //                 width: 100%;
    //                 // padding-right: 60px;
    //                 .big-images-portfolio-image {
    //                     cursor: pointer;
    //                     >img {
    //                         width: 100%;
    //                     }
    //                 }
    //             }
    //             .big-images-text-wrapper {
    //                 width: calc(70% - 60px);
    //                 padding-right: 60px;
    //             }
    //             .big-images-category-date-tags-wrapper {
    //                 width: 30%;
    //                 flex-direction: column;
    //             }
    //             // .big-images-category-date-tags-wrapper {
    //             //     width: 30%;
    //             //     flex-direction: column;
    //             // }
    //         }
    //     }
    // }
}

// @media only screen and (max-width: 1030px){
//     .big-images {
//         .big-images-wrapper {
//             .big-images-content {
//                 .big-images-content-info {
//                     display: flex;
//                     flex-wrap: wrap;
//                     .big-images-text-wrapper {
//                         width: calc(100% - 60px);
//                         padding-right: 60px;
//                     }
//                     .big-images-category-date-tags-wrapper {
//                         width: 100%;
//                         flex-direction: column;
//                         padding-top: 40px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 800px){
//     .big-images {
//         .big-images-wrapper {
//             padding: 70px 30px 70px 30px;
//         }
//     }
// }

@keyframes poortfolioGalleryHeaderTextAppear {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-moz-keyframes poortfolioGalleryHeaderTextAppear {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes poortfolioGalleryHeaderTextAppear {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-o-keyframes poortfolioGalleryHeaderTextAppear {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes lengthenArrowLinePortfolioGallery {
    from{
        height: 0px;
        border: 0px solid black;
    }
    to{
        height: 15px;
        border: 1px solid black;
    }
}
@-moz-keyframes lengthenArrowLinePortfolioGallery {
    from{
        height: 0px;
        border: 0px solid black;
    }
    to{
        height: 15px;
        border: 1px solid black;
    }
}
@-o-keyframes lengthenArrowLinePortfolioGallery {
    from{
        height: 0px;
        border: 0px solid black;
    }
    to{
        height: 15px;
        border: 1px solid black;
    }
}
@keyframes lengthenArrowLinePortfolioGallery {
    from{
        height: 0px;
        border: 0px solid black;
    }
    to{
        height: 15px;
        border: 1px solid black;
    }
}

@-webkit-keyframes shortenArrowLinePortfolioGallery {
    from{
        border: 1px solid black;
        background: black;
        height: 15px;
    }
    to{
        border: 1px solid transparent;
        background: black;
        height: 0px;
    }
}
@-moz-keyframes shortenArrowLinePortfolioGallery {
    from{
        border: 1px solid black;
        background: black;
        height: 15px;
    }
    to{
        border: 1px solid transparent;
        background: black;
        height: 0px;
    }
}
@-o-keyframes shortenArrowLinePortfolioGallery {
    from{
        border: 1px solid black;
        background: black;
        height: 15px;
    }
    to{
        border: 1px solid transparent;
        background: black;
        height: 0px;
    }
}
@keyframes shortenArrowLinePortfolioGallery {
    from{
        border: 1px solid black;
        background: black;
        height: 15px;
    }
    to{
        border: 1px solid transparent;
        background: black;
        height: 0px;
    }
}

@-webkit-keyframes lengthenHorizontalLinePortfolioGallery {
    from{width: 50px;}
    to{width: 60px;}
}
@-moz-keyframes lengthenHorizontalLinePortfolioGallery {
    from{width: 50px;}
    to{width: 60px;}
}
@-o-keyframes lengthenHorizontalLinePortfolioGallery {
    from{width: 50px;}
    to{width: 60px;}
}
@keyframes lengthenHorizontalLinePortfolioGallery {
    from{width: 50px;}
    to{width: 60px;}
}

@-webkit-keyframes shortenHorizontalLinePortfolioGallery {
    from{width: 60px;}
    to{width: 50px;}
}
@-moz-keyframes shortenHorizontalLinePortfolioGallery {
    from{width: 60px;}
    to{width: 50px;}
}
@-o-keyframes shortenHorizontalLinePortfolioGallery {
    from{width: 60px;}
    to{width: 50px;}
}
@keyframes shortenHorizontalLinePortfolioGallery {
    from{width: 60px;}
    to{width: 50px;}
}


