.portfolio-gallery {
    width: calc(100% + 18px);
    .portfolio-gallery-loading-error {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio-gallery-wrapper {
        display: flex;
        flex-direction: column;
        padding: 70px 130px 70px 130px;
        .portfolio-gallery-header-wrapper {
            cursor: context-menu;
            .header-wrapper {
                display: flex;
                align-items: center;
                .portfolio-gallery-header-bold {
                    font-size: 90px;
                    color: rgb(23, 23, 23);
                    font-family: 'Poppins', sans-serif;
                    -webkit-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    -moz-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    -o-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    animation-delay: 1s;
                    animation-fill-mode: both;
                }
                .portfolio-gallery-header-text1 {
                    font-size: 90px;
                    color: rgb(23, 23, 23);
                    font-family: 'Lustria', serif;
                    padding-left: 15px;
                    -webkit-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    -moz-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    -o-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    animation: poortfolioGalleryHeaderTextAppear .2s linear;
                    animation-delay: 2s;
                    animation-fill-mode: both;
                }
            }
            .portfolio-gallery-header-text2 {
                font-size: 90px;
                color: rgb(23, 23, 23);
                font-family: 'Lustria', serif;
                -webkit-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                -moz-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                -o-animation: poortfolioGalleryHeaderTextAppear .2s linear;
                animation: poortfolioGalleryHeaderTextAppear .2s linear;
                animation-delay: 3s;
                animation-fill-mode: both;
            }
        }
    }
 
    // .big-images-wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     padding: 70px 130px 70px 130px;
    //     .big-images-content {
    //         // width: 100%;
    //         // display: flex;
    //         // flex-wrap: wrap;
    //         // align-items: flex-start;
    //         .big-images-content-info {
    //             display: flex;
    //             flex-wrap: wrap;
    //             .big-images-portfolio-images {
    //                 width: 100%;
    //                 // padding-right: 60px;
    //                 .big-images-portfolio-image {
    //                     cursor: pointer;
    //                     >img {
    //                         width: 100%;
    //                     }
    //                 }
    //             }
    //             .big-images-text-wrapper {
    //                 width: calc(70% - 60px);
    //                 padding-right: 60px;
    //             }
    //             .big-images-category-date-tags-wrapper {
    //                 width: 30%;
    //                 flex-direction: column;
    //             }
    //             // .big-images-category-date-tags-wrapper {
    //             //     width: 30%;
    //             //     flex-direction: column;
    //             // }
    //         }
    //     }
    // }
}

// @media only screen and (max-width: 1030px){
//     .big-images {
//         .big-images-wrapper {
//             .big-images-content {
//                 .big-images-content-info {
//                     display: flex;
//                     flex-wrap: wrap;
//                     .big-images-text-wrapper {
//                         width: calc(100% - 60px);
//                         padding-right: 60px;
//                     }
//                     .big-images-category-date-tags-wrapper {
//                         width: 100%;
//                         flex-direction: column;
//                         padding-top: 40px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 800px){
//     .big-images {
//         .big-images-wrapper {
//             padding: 70px 30px 70px 30px;
//         }
//     }
// }

@keyframes poortfolioGalleryHeaderTextAppear {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-moz-keyframes poortfolioGalleryHeaderTextAppear {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes poortfolioGalleryHeaderTextAppear {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-o-keyframes poortfolioGalleryHeaderTextAppear {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

