.pie-charts-page {
    width: calc(100% + 18px);
    .pie-charts-page-loading-error {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pie-charts-page-wrapper {
        display: flex;
        flex-direction: column;
        .pie-charts-page-header {
            padding: 90px 130px 90px 130px;
        }
        .grey-line {
            width: 100%;
            height: 10px;
            background-color: rgb(239, 239, 239);
        }
        .pie-charts-page-section1-data-items {
            width: calc(100% - 230px);
            display: flex;
            flex-wrap: wrap;
            background: rgb(248, 248, 248);
            padding: 130px 100px 130px 130px;
            .pie-charts-page-section1-data-item {
                width: calc(25% - 30px);
                margin-right: 30px;
            }
        }
        .pie-charts-page-section2-data-items {
            width: calc(100% - 260px);
            display: flex;
            flex-wrap: wrap;
            background: white;
            padding: 130px;
            .pie-charts-page-section2-data-item {
                width: 25%;
            }
        }
    }
}

// @media only screen and (max-width: 1450px){
//     .pie-charts-page {
//         .pie-charts-page-wrapper {
//             .pie-charts-page-header {
//                 padding: 90px 40px 90px 40px;
//             }
//             .pie-charts-page-section1-data-items {
//                 width: calc(100% - 50px);
//                 padding: 130px 10px 130px 40px;
//             }
//             .pie-charts-page-section2-data-items {
//                 width: calc(100% - 80px);
//                 padding: 130px 40px 130px 40px;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 960px){
//     .pie-charts-page {
//         .pie-charts-page-wrapper {
//             .pie-charts-page-header {
//                 padding: 90px 130px 90px 130px;
//             }
//             .pie-charts-page-section1-data-items {
//                 width: calc(100% - 260px);
//                 padding: 130px 130px 100px 130px;
//                 .pie-charts-page-section1-data-item {
//                     width: 100%;
//                     margin-right: 0px;
//                     margin-bottom: 30px;
//                 }
//             }
//             .pie-charts-page-section2-data-items {
//                 width: calc(100% - 260px);
//                 padding: 130px;
//                 .pie-charts-page-section2-data-item {
//                     width: calc(100% - 2px);
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 660px){
//     .pie-charts-page {
//         .pie-charts-page-wrapper {
//             .pie-charts-page-header {
//                 padding: 90px 40px 90px 40px;
//             }
//             .pie-charts-page-section1-data-items {
//                 width: calc(100% - 80px);
//                 padding: 130px 40px 130px 40px;
//                 .pie-charts-page-section1-data-item {
//                     width: 100%;
//                 }
//             }
//             .pie-charts-page-section2-data-items {
//                 width: calc(100% - 80px);
//                 padding: 130px 40px 130px 40px;
//                 .pie-charts-page-section2-data-item {
//                     width: calc(100% - 2px);
//                 }
//             }
//         }
//     }
// }
