.sidebar {
    position: fixed;
    top: 0%;
    width: 300px;
    height: 100%;
    background: white;
    z-index: 690;
    overflow-y: scroll;
}

// @media only screen and (max-width: 1120px){
//     .sidebar {
//         display: none;
//     }
// }
.sidebar::-webkit-scrollbar {
    display: none;
  }