.sidebar {
    position: fixed;
    top: 0%;
    width: 300px;
    height: 100%;
    background: rgb(196, 205, 216);
    z-index: 690;
}

// @media only screen and (max-width: 1120px){
//     .sidebar {
//         display: none;
//     }
// }
