.our-process {
    text-align: center;
    .our-process-loading-error {
        height: 200px;
    }
    .our-process-items{
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 945px){
    .our-process {
        .our-process-items{
            flex-direction: column;
        }
    }
}
