.small-gallery {
    width: calc(100% + 18px);
    .small-gallery-loading-error {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .small-gallery-wrapper {
        display: flex;
        flex-direction: column;
        padding: 70px 130px 70px 130px;
        .small-gallery-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .small-gallery-portfolio-images {
                width: 70%;
                display: flex;
                flex-wrap: wrap;
                .small-gallery-portfolio-image {
                    width: calc(50% - 30px);
                    margin-right: 30px;
                    cursor: pointer;
                    >img {
                        width: 100%;
                    }
                }
            } 
            .small-gallery-content-info {
                width: 30%;
            }
        }
    }
}

@media only screen and (max-width: 1110px){
    .small-gallery {
        .small-gallery-wrapper {
            .small-gallery-content {
                .small-gallery-portfolio-images {
                    width: 100%;
                }
                .small-gallery-content-info {
                    width: calc(100% - 30px);
                    padding-right: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 970px){
    .small-gallery {
        .small-gallery-wrapper {
            padding: 70px 40px 70px 70px;
        }
    }
}

@media only screen and (max-width: 680px){
    .small-gallery {
        .small-gallery-wrapper {
            padding: 70px;
            .small-gallery-content {
                .small-gallery-portfolio-images {
                    .small-gallery-portfolio-image {
                        width: 100%;
                        margin-right: 0px;
                        >img {
                            width: 100%;
                        }
                    }
                }
                .small-gallery-content-info {
                    width: calc(100% - 30px);
                    padding-right: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .small-gallery {
        .small-gallery-wrapper {
            padding: 70px 30px 70px 30px;
        }
    }
}

// @media only screen and (max-width: 600px){
//     .small-images {
//         .small-images-wrapper {
//             padding: 20px;
//         }
//     }
// }


// @media only screen and (max-width: 1120px){
//     .home {
//         .home-main-background {
//             height: 650px;
//             .home-curtain {
//                 height: 650px;
//             }
//         }
//     }
// }
