.swiper {
    display: flex;
    align-items: center;
    .swiper-wrapper {
        width: calc(100% - 130px);
        overflow: hidden;
        position: relative;
        z-index: 1;
        .swiper-window-width-content {
            display: flex;
            width: 100%;
            position: relative;
            z-index: 100;
            left: 0px;
            .slide {
                padding: 0 170px 0 170px;
                user-select: none; /* supported by Chrome and Opera */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                .author-name-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .slide-dash {
                        border: 1.5px solid white;
                        width: 10px;
                        margin-right: 5px;
                    }
                }
                // background-color: rgb(18, 68, 159);
                // filter: grayscale(40%);
                // width: 100%;
                // height: 100%;
                // >img {
                //     width: 100%;
                //     height: 100%;
                //     opacity: 0.8;
                // }
            }
        }
        .content-array-loading-error {
            // height: 484px;
        }
    }
}

.swiper-arrow-left {
    width: 65px;
    .swiper-arrow-left-wrapper {
        position: relative;
        z-index: 20;
        width: 110px;
        cursor: pointer;
        .h17-white-lustria {
            width: 110px;
            display: flex;
            justify-content: flex-end;
            font-size: 17px;
            color: white;
            font-family: 'Lustria', serif;
            padding-right: 0;
        }
        .swiper-arrow-left-line {
            border: 1px solid white;
            width: 110px;
            margin-top: 7px;
        }
    }
    .swiper-arrow-left-wrapper-hover-on {
        position: relative;
        z-index: 20;
        width: 115px;
        cursor: pointer;
        .h17-white-lustria {
            width: 105px;
            display: flex;
            justify-content: flex-end;
            font-size: 17px;
            color: white;
            font-family: 'Lustria', serif;
            -webkit-animation: hoverOnArrowLabelOn .5s linear;
            -moz-animation: hoverOnArrowLabelOn .5s linear;
            -o-animation: hoverOnArrowLabelOn .5s linear;
            animation: hoverOnArrowLabelOn .5s linear;
        }
        .swiper-arrow-left-line {
            border: 1px solid white;
            width: 115px;
            margin-top: 7px;
            -webkit-animation: hoverOnSwiperArrowOn .5s linear;
            -moz-animation: hoverOnSwiperArrowOn .5s linear;
            -o-animation: hoverOnSwiperArrowOn .5s linear;
            animation: hoverOnSwiperArrowOn .5s linear;
        }
    }
    .swiper-arrow-left-wrapper-hover-off {
        position: relative;
        z-index: 20;
        width: 110px;
        cursor: pointer;
        .h17-white-lustria {
            width: 110px;
            display: flex;
            justify-content: flex-end;
            font-size: 17px;
            color: white;
            font-family: 'Lustria', serif;
            -webkit-animation: hoverOnArrowLabelOff .5s linear;
            -moz-animation: hoverOnArrowLabelOff .5s linear;
            -o-animation: hoverOnArrowLabelOff .5s linear;
            animation: hoverOnArrowLabelOff .5s linear;
        }
        .swiper-arrow-left-line {
            border: 1px solid white;
            width: 110px;
            margin-top: 7px;
            -webkit-animation: hoverOnSwiperArrowOff .5s linear;
            -moz-animation: hoverOnSwiperArrowOff .5s linear;
            -o-animation: hoverOnSwiperArrowOff .5s linear;
            animation: hoverOnSwiperArrowOff .5s linear;
        }
    }

}
.swiper-arrow-right {
    width: 65px;
    .swiper-arrow-right-wrapper {
        width: 110px;
        transform: translateX(-45px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        .h17-white-lustria {
            width: 110px;
            display: flex;
            justify-content: flex-start;
            font-size: 17px;
            color: white;
            font-family: 'Lustria', serif;
            padding-left: 0;
        }
        .swiper-arrow-right-line {
            border: 1px solid white;
            width: 110px;
            margin-top: 7px;
        }
    }
    .swiper-arrow-right-wrapper-hover-on {
        width: 115px;
        transform: translateX(-50px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        .h17-white-lustria {
            width: 105px;
            display: flex;
            justify-content: flex-start;
            font-size: 17px;
            color: white;
            font-family: 'Lustria', serif;
            padding-left: 0;
            -webkit-animation: hoverOnArrowLabelOn .5s linear;
            -moz-animation: hoverOnArrowLabelOn .5s linear;
            -o-animation: hoverOnArrowLabelOn .5s linear;
            animation: hoverOnArrowLabelOn .5s linear;
        }
        .swiper-arrow-right-line {
            border: 1px solid white;
            width: 115px;
            margin-top: 7px;
            -webkit-animation: hoverOnSwiperArrowOn .5s linear;
            -moz-animation: hoverOnSwiperArrowOn .5s linear;
            -o-animation: hoverOnSwiperArrowOn .5s linear;
            animation: hoverOnSwiperArrowOn .5s linear;
        }
    }
    .swiper-arrow-right-wrapper-hover-off {
        width: 110px;
        transform: translateX(-45px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        .h17-white-lustria {
            width: 110px;
            display: flex;
            justify-content: flex-start;
            font-size: 17px;
            color: white;
            font-family: 'Lustria', serif;
            padding-left: 0;
            -webkit-animation: hoverOnArrowLabelOff .5s linear;
            -moz-animation: hoverOnArrowLabelOff .5s linear;
            -o-animation: hoverOnArrowLabelOff .5s linear;
            animation: hoverOnArrowLabelOff .5s linear;
        }
        .swiper-arrow-right-line {
            border: 1px solid white;
            width: 110px;
            margin-top: 7px;
            // transform: rotate(180deg);
            -webkit-animation: hoverOnSwiperArrowOff .5s linear;
            -moz-animation: hoverOnSwiperArrowOff .5s linear;
            -o-animation: hoverOnSwiperArrowOff .5s linear;
            animation: hoverOnSwiperArrowOff .5s linear;
        }
    }
}

.active {
    cursor: grabbing;
}

@-webkit-keyframes hoverOnArrowLabelOn {
    from{width: 110px;}
    to{width: 105px;}
}
@-moz-keyframes hoverOnArrowLabelOn {
    from{width: 110px;}
    to{width: 105px;}
}
@-o-keyframes hoverOnArrowLabelOn {
    from{width: 110px;}
    to{width: 105px;}
}
@keyframes hoverOnArrowLabelOn {
    from{width: 110px;}
    to{width: 105px;}
}

@-webkit-keyframes hoverOnArrowLabelOff {
    from{width: 105px;}
    to{width: 110px;}
}
@-moz-keyframes hoverOnArrowLabelOff {
    from{width: 105px;}
    to{width: 110px;}
}
@-o-keyframes hoverOnArrowLabelOff {
    from{width: 105px;}
    to{width: 110px;}
}
@keyframes hoverOnArrowLabelOff {
    from{width: 105px;}
    to{width: 110px;}
}

@-webkit-keyframes hoverOnSwiperArrowOn {
    from{width: 110px;}
    to{width: 115px;}
}
@-moz-keyframes hoverOnSwiperArrowOn {
    from{width: 110px;}
    to{width: 115px;}
}
@-o-keyframes hoverOnSwiperArrowOn {
    from{width: 110px;}
    to{width: 115px;}
}
@keyframes hoverOnSwiperArrowOn {
    from{width: 110px;}
    to{width: 115px;}
}

@-webkit-keyframes hoverOnSwiperArrowOff {
    from{width: 115px;}
    to{width: 110px;}
}
@-moz-keyframes hoverOnSwiperArrowOff {
    from{width: 115px;}
    to{width: 110px;}
}
@-o-keyframes hoverOnSwiperArrowOff {
    from{width: 115px;}
    to{width: 110px;}
}
@keyframes hoverOnSwiperArrowOff {
    from{width: 115px;}
    to{width: 110px;}
}


// .slider-window-height-content {
//     width: 100%;
//     .slide {
//         background-color: rgb(18, 68, 159);
//         filter: grayscale(40%);
//         width: 100%;
//         height: 100%;
//         >img {
//             width: 100%;
//             height: 100%;
//             opacity: 0.8;
//         }
//     }
// }




// .swiper-arrow-up {
//     width: 100px;
//     height: 17px;
//     background-color: rgba(104, 97, 95, 0.7);
//     position: absolute;
//     top: 0;
//     z-index: 1;
//     padding-top: 3px;
//     text-align: center;
//     cursor: pointer;
// }
// .swiper-arrow-down {
//     width: 100px;
//     height: 17px;
//     background-color: rgba(104, 97, 95, 0.7);
//     position: absolute;
//     bottom: 0;
//     z-index: 1;
//     padding-top: 3px;
//     text-align: center;
//     cursor: pointer;
// }

