.home {
    width: calc(100% + 18px);
    .home-main-background {
        background-image: url("../../../images/background/abstract-3304213_1280.png");
        background-size: 100% 100vh;
        height: 100vh;
        width: 100%;
        // >img {
        //     width: 770px;
        //     height: 510px;
        // }
    }
}



// @media only screen and (max-width: 1120px){

// }
