.sidebar-item-wrapper {
    .sidebar-item {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 17px;
        font-weight: bold;
        border-bottom: 0.5px solid rgb(155, 155, 155);
        padding: 0 20px 0 20px;
        height: 60px;
        // align-items: center;
        // padding: 0 20px 0 10px;
        color: black;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            color: rgb(155, 155, 155);
            -webkit-animation: appearToolbarSidebarItemText .5s linear;
            -moz-animation: appearToolbarSidebarItemText .5s linear;
            -o-animation: appearToolbarSidebarItemText .5s linear;
            animation: appearToolbarSidebarItemText .5s linear;
        }
        .item-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .sidebar-item-arrow-wrapper {
                width: 10px;
                .sidebar-item-arrow-top-line {
                    border-left: 1px solid rgb(78, 78, 78);
                    height: 7px;
                    width: 0px;
                    transform: translate(5px, 1.3px) rotate(-45deg);
                }
                .sidebar-item-arrow-bottom-line {
                    border-left: 1px solid rgb(78, 78, 78);
                    height: 7px;
                    width: 0px;
                    transform: translate(5px, -1.3px) rotate(45deg);
                }
            }
            .sidebar-item-arrow-wrapper-hover-on {
                width: 10px;
                transform: rotate(90deg);
                -webkit-animation: rotateSidebarArrowOpenState .5s linear;
                -moz-animation: rotateSidebarArrowOpenState .5s linear;
                -o-animation: rotateSidebarArrowOpenState .5s linear;
                animation: rotateSidebarArrowOpenState .5s linear;
                .sidebar-item-arrow-top-line {
                    border-left: 1px solid rgb(78, 78, 78);
                    height: 7px;
                    width: 0px;
                    transform: translate(5px, 1.3px) rotate(-45deg);
                }
                .sidebar-item-arrow-bottom-line {
                    border-left: 1px solid rgb(78, 78, 78);
                    height: 7px;
                    width: 0px;
                    transform: translate(5px, -1.3px) rotate(45deg);
                }
            }
            .sidebar-item-arrow-wrapper-hover-off {
                width: 10px;
                transform: rotate(0deg);
                -webkit-animation: rotateSidebarArrowCloseState .5s linear;
                -moz-animation: rotateSidebarArrowCloseState .5s linear;
                -o-animation: rotateSidebarArrowCloseState .5s linear;
                animation: rotateSidebarArrowCloseState .5s linear;
                .sidebar-item-arrow-top-line {
                    border-left: 1px solid rgb(78, 78, 78);
                    height: 7px;
                    width: 0px;
                    transform: translate(5px, 1.3px) rotate(-45deg);
                }
                .sidebar-item-arrow-bottom-line {
                    border-left: 1px solid rgb(78, 78, 78);
                    height: 7px;
                    width: 0px;
                    transform: translate(5px, -1.3px) rotate(45deg);
                }
            }
        }
    }
    
    .sidebar-item-active {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 17px;
        font-weight: bold;
        border-bottom: 0.5px solid rgb(155, 155, 155);
        padding: 0 20px 0 20px;
        height: 60px;
        color: rgb(155, 155, 155);
        opacity: 0.7;
        cursor: pointer;
        .item-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .sidebar-item-arrow-wrapper {
                width: 10px;
                .sidebar-item-arrow-top-line {
                    border-left: 1px solid rgb(78, 78, 78);
                    height: 7px;
                    width: 0px;
                    transform: translate(5px, 1.3px) rotate(-45deg);
                }
                .sidebar-item-arrow-bottom-line {
                    border-left: 1px solid rgb(78, 78, 78);
                    height: 7px;
                    width: 0px;
                    transform: translate(5px, -1.3px) rotate(45deg);
                }
            }
        }
    }
}

@-webkit-keyframes rotateSidebarArrowOpenState {
    from{transform: rotate(0deg)}
    to{transform: rotate(90deg);}
}
@-moz-keyframes rotateSidebarArrowOpenState {
    from{transform: rotate(0deg)}
    to{transform: rotate(90deg);}
}
@-o-keyframes rotateSidebarArrowOpenState {
    from{transform: rotate(0deg)}
    to{transform: rotate(90deg);}
}
@keyframes rotateSidebarArrowOpenState {
    from{transform: rotate(0deg)}
    to{transform: rotate(90deg);}
}

@-webkit-keyframes rotateSidebarArrowCloseState {
    from{transform: rotate(90deg)}
    to{transform: rotate(0deg);}
}
@-moz-keyframes rotateSidebarArrowCloseState {
    from{transform: rotate(90deg)}
    to{transform: rotate(0deg);}
}
@-o-keyframes rotateSidebarArrowCloseState {
    from{transform: rotate(90deg)}
    to{transform: rotate(0deg);}
}
@keyframes rotateSidebarArrowCloseState {
    from{transform: rotate(90deg)}
    to{transform: rotate(0deg);}
}
