.picture-board-image-item {
    width: 270.5px;
    height: 270.5px;
    // background-color: rgb(90, 155, 172);
    .picture-board-image {
        // width: 270.5px;
        // height: 270.5px;
        >img{
            width: 270.5px;
            height: 270.5px;
        }
    }
    .picture-board-image-black-and-white {
        filter: grayscale(70%);
        >img{
            width: 270.5px;
            height: 270.5px;
        }
    }
}
