.picture-board-image-item {
    width: 270.5px;
    height: 270.5px;
    cursor: pointer;
    .picture-board-image {
        >img{
            width: 270.5px;
            height: 270.5px;
        }
    }
    .picture-board-image-black-and-white {
        filter: grayscale(70%);
        >img{
            width: 270.5px;
            height: 270.5px;
        }
    }
}

.portfolio-gallery-image-item {
    width: 100%;
    height: 270.5px;
    cursor: pointer;
    .picture-board-image {
        >img{
            width: 100%;
            height: 270.5px;
        }
    }
    .picture-board-image-black-and-white {
        filter: grayscale(70%);
        >img{
            width: 100%;
            height: 270.5px;
        }
    }
}

@media only screen and (max-width: 1250px){
    .picture-board-image-item {
        width: 384px;
        height: 384px;
        .picture-board-image {
            >img{
                width: 384px;
                height: 384px;
            }
        }
        .picture-board-image-black-and-white {
            filter: grayscale(70%);
            >img{
                width: 384px;
                height: 384px;
            }
        }
    }
}

@media only screen and (max-width: 945px){
    .picture-board-image-item {
        width: 300px;
        height: 300px;
        .picture-board-image {
            >img{
                width: 300px;
                height: 300px;
            }
        }
        .picture-board-image-black-and-white {
            filter: grayscale(70%);
            >img{
                width: 300px;
                height: 300px;
            }
        }
    }
}

@media only screen and (max-width: 775px){
    .picture-board-image-item {
        width: 420px;
        height: 420px;
        .picture-board-image {
            >img{
                width: 420px;
                height: 420px;
            }
        }
        .picture-board-image-black-and-white {
            filter: grayscale(70%);
            >img{
                width: 420px;
                height: 420px;
            }
        }
    }
}

@media only screen and (max-width: 540px){
    .picture-board-image-item {
        width: 300px;
        height: 300px;
        .picture-board-image {
            >img{
                width: 300px;
                height: 300px;
            }
        }
        .picture-board-image-black-and-white {
            filter: grayscale(70%);
            >img{
                width: 300px;
                height: 300px;
            }
        }
    }
}
