.video {
    height: 100px;
    width: 100%;
    .video-wrapper {
        width: 100%;
        position: relative;
        >img{
            width: 100%;
        }
        .video-play-button-wrapper {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0%;
            .video-play-button {
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: rgb(37, 37, 37);
                cursor: pointer;
            }
            .video-play-button:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0;
                height: 0;
                border: 13px solid transparent;
                border-left: 22px solid transparent;
                border-left-color: white;
                // border-top: 1;
                margin-left: -6px;
                margin-top: -12px;
            }
        }
       
    }
    >video {
        width: 100%;  
    }
}

// @media only screen and (max-width: 945px){
//     .picture-board {
//         .picture-board-items {
//             width: 600px;
//             height: 2700px;
//         }
//     }
// }

// @media only screen and (max-width: 775px){
//     .picture-board {
//         .picture-board-items {
//             width: 420px;
//             height: 7560px;
//         }
//     }
// }

// @media only screen and (max-width: 540px){
//     .picture-board {
//         .picture-board-items {
//             width: 300px;
//             height: 5400px;
//         }
//     }
// }
