.metro-page2 {
    width: calc(100% + 18px);
    .metro-page-loading-error {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .metro-page-header {
        display: flex;
        justify-content: center;
        padding: 90px 0px 90px 0px;
    }
    .metro-page-wrapper {
        width: calc(100% - 80px);
        padding: 40px;
    }
}
