.toolbar {
    // display: none;
}


@media only screen and (max-width: 1120px){
  
}

// @-webkit-keyframes open {
//     from{
//         height: 0;
//     }
//     to {
//         height: 314px;
//     }
//   }
// @-moz-keyframes open {
//     from{
//         height: 0;
//     }
//     to {
//         height: 314px;
//     }
// }
// @-o-keyframes open {
//     from{
//         height: 0;
//     }
//     to {
//         height: 314px;
//     }
// }

// @keyframes open {
//     from{
//         height: 0;
//     }
//     to {
//         height: 314px;
//     }
// }

// @-webkit-keyframes close {
//     from{
//         height: 314px;
//     }
//     to {
//         height: 0px;
//     }
// }
// @-moz-keyframes close {
//     from{
//         height: 314px;
//     }
//     to {
//         height: 0px;
//     }
// }
// @-o-keyframes close {
//     from{
//         height: 314px;
//     }
//     to {
//         height: 0px;
//     }
// }
// @keyframes close {
//     from{
//         height: 314px;
//     }
//     to {
//         height: 0px;
//     }
// }
