.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 30px 40px;
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
    .toolbar-wrapper {
        display: flex;
        align-items: flex-end;
        .toolbar-items {
            display: flex;
        }
        .toolbar-menu {
            display: flex;
            flex-wrap: wrap;
            padding: 2px 0 2px 20px;
            width: 25px;
            cursor: pointer;
            .toolbar-menu-dot {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
            }
        }
    }
}



// @media only screen and (max-width: 1120px){
  
// }

// @-webkit-keyframes open {
//     from{
//         height: 0;
//     }
//     to {
//         height: 314px;
//     }
//   }
// @-moz-keyframes open {
//     from{
//         height: 0;
//     }
//     to {
//         height: 314px;
//     }
// }
// @-o-keyframes open {
//     from{
//         height: 0;
//     }
//     to {
//         height: 314px;
//     }
// }

// @keyframes open {
//     from{
//         height: 0;
//     }
//     to {
//         height: 314px;
//     }
// }

// @-webkit-keyframes close {
//     from{
//         height: 314px;
//     }
//     to {
//         height: 0px;
//     }
// }
// @-moz-keyframes close {
//     from{
//         height: 314px;
//     }
//     to {
//         height: 0px;
//     }
// }
// @-o-keyframes close {
//     from{
//         height: 314px;
//     }
//     to {
//         height: 0px;
//     }
// }
// @keyframes close {
//     from{
//         height: 314px;
//     }
//     to {
//         height: 0px;
//     }
// }
