.toolbar-regular-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    height: 88px;
    color: white;
    position: relative;
    z-index: 600;
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
    .toolbar-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        .toolbar-items {
            height: 100%;
            display: flex;
            
        }
        .toolbar-menu {
            display: flex;
            flex-wrap: wrap;
            padding: 2px 0 2px 20px;
            width: 25px;
            cursor: pointer;
            .toolbar-menu-dot {
                border: 1px solid white;
                border-radius: 50%;
                background: white;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
            }
            .toolbar-menu-dot-hide {
                display: none;
            }
            .toolbar-menu-dot-with-animation-open-1 {
                border: 1px solid white;
                border-radius: 50%;
                background: white;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear1 1s ease;
                -moz-animation: disappear1 1s ease;
                -o-animation: disappear1 1s ease;
                animation: disappear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-open-2 {
                border: 1px solid white;
                border-radius: 50%;
                background: white;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear2 1s ease;
                -moz-animation: disappear2 1s ease ;
                -o-animation: disappear2 1s ease ;
                animation: disappear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-open-4 {
                border: 1px solid white;
                border-radius: 50%;
                background: white;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear4 1s ease;
                -moz-animation: disappear4 1s ease;
                -o-animation: disappear4 1s ease;
                animation: disappear4 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-1 {
                border: 1px solid white;
                border-radius: 50%;
                background: white;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear1 1s ease;
                -moz-animation: appear1 1s ease;
                -o-animation: appear1 1s ease;
                animation: appear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-2 {
                border: 1px solid white;
                border-radius: 50%;
                background: white;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear2 1s ease;
                -moz-animation: appear2 1s ease ;
                -o-animation: appear2 1s ease ;
                animation: appear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-close-4 {
                border: 1px solid white;
                border-radius: 50%;
                background: white;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear4 1s ease;
                -moz-animation: appear4 1s ease;
                -o-animation: appear4 1s ease;
                animation: appear4 1s ease;
            }
        }
    }
}

.toolbar-regular-screen-animated-unmounted {
    position: fixed;
    width: calc(100% - 78px);
    height: calc(70px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
    color: black;
    background: white;
    z-index: 700;
    transform: translateY(-100%);
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
    .toolbar-wrapper {
        display: flex;
        align-items: flex-end;
        .toolbar-items {
            display: flex;
        }
        .toolbar-menu {
            display: flex;
            flex-wrap: wrap;
            padding: 2px 0 2px 20px;
            width: 25px;
            cursor: pointer;
            .toolbar-menu-dot {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
            }
            .toolbar-menu-dot-hide {
                display: none;
            }
            .toolbar-menu-dot-with-animation-open-1 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear1 1s ease;
                -moz-animation: disappear1 1s ease;
                -o-animation: disappear1 1s ease;
                animation: disappear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-open-2 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear2 1s ease;
                -moz-animation: disappear2 1s ease ;
                -o-animation: disappear2 1s ease ;
                animation: disappear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-open-4 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear4 1s ease;
                -moz-animation: disappear4 1s ease;
                -o-animation: disappear4 1s ease;
                animation: disappear4 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-1 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear1 1s ease;
                -moz-animation: appear1 1s ease;
                -o-animation: appear1 1s ease;
                animation: appear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-2 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear2 1s ease;
                -moz-animation: appear2 1s ease ;
                -o-animation: appear2 1s ease ;
                animation: appear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-close-4 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear4 1s ease;
                -moz-animation: appear4 1s ease;
                -o-animation: appear4 1s ease;
                animation: appear4 1s ease;
            }
        }
    }
}

.toolbar-regular-screen-animated-mounted {
    position: fixed;
    width: calc(100% - 78px);
    height: calc(70px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
    color: black;
    background: white;
    z-index: 700;
    transform: translateY(0%);
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
    .toolbar-wrapper {
        display: flex;
        align-items: flex-end;
        .toolbar-items {
            display: flex;
        }
        .toolbar-menu {
            display: flex;
            flex-wrap: wrap;
            padding: 2px 0 2px 20px;
            width: 25px;
            cursor: pointer;
            .toolbar-menu-dot {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
            }
            .toolbar-menu-dot-hide {
                display: none;
            }
            .toolbar-menu-dot-with-animation-open-1 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear1 1s ease;
                -moz-animation: disappear1 1s ease;
                -o-animation: disappear1 1s ease;
                animation: disappear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-open-2 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear2 1s ease;
                -moz-animation: disappear2 1s ease ;
                -o-animation: disappear2 1s ease ;
                animation: disappear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-open-4 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear4 1s ease;
                -moz-animation: disappear4 1s ease;
                -o-animation: disappear4 1s ease;
                animation: disappear4 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-1 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear1 1s ease;
                -moz-animation: appear1 1s ease;
                -o-animation: appear1 1s ease;
                animation: appear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-2 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear2 1s ease;
                -moz-animation: appear2 1s ease ;
                -o-animation: appear2 1s ease ;
                animation: appear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-close-4 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear4 1s ease;
                -moz-animation: appear4 1s ease;
                -o-animation: appear4 1s ease;
                animation: appear4 1s ease;
            }
        }
    }
}

.toolbar-regular-screen-animated-open {
    position: fixed;
    width: calc(100% - 78px);
    height: calc(70px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
    color: black;
    background: white;
    z-index: 700;
    -webkit-animation: toolbarWhiteOpen .5s linear;
    -moz-animation: toolbarWhiteOpen .5s linear;
    -o-animation: toolbarWhiteOpen .5s linear;
    animation: toolbarWhiteOpen .5s linear;
    transform: translate(0%);
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
    .toolbar-wrapper {
        display: flex;
        align-items: flex-end;
        .toolbar-items {
            display: flex;
        }
        .toolbar-menu {
            display: flex;
            flex-wrap: wrap;
            padding: 2px 0 2px 20px;
            width: 25px;
            cursor: pointer;
            .toolbar-menu-dot {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
            }
            .toolbar-menu-dot-hide {
                display: none;
            }
            .toolbar-menu-dot-with-animation-open-1 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear1 1s ease;
                -moz-animation: disappear1 1s ease;
                -o-animation: disappear1 1s ease;
                animation: disappear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-open-2 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear2 1s ease;
                -moz-animation: disappear2 1s ease ;
                -o-animation: disappear2 1s ease ;
                animation: disappear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-open-4 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear4 1s ease;
                -moz-animation: disappear4 1s ease;
                -o-animation: disappear4 1s ease;
                animation: disappear4 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-1 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear1 1s ease;
                -moz-animation: appear1 1s ease;
                -o-animation: appear1 1s ease;
                animation: appear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-2 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear2 1s ease;
                -moz-animation: appear2 1s ease ;
                -o-animation: appear2 1s ease ;
                animation: appear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-close-4 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear4 1s ease;
                -moz-animation: appear4 1s ease;
                -o-animation: appear4 1s ease;
                animation: appear4 1s ease;
            }
        }
    }
}

.toolbar-regular-screen-animated-close {
    position: fixed;
    width: calc(100% - 78px);
    height: calc(70px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
    color: black;
    background: white;
    z-index: 700;
    transform: translateY(-100%);
    -webkit-animation: toolbarWhiteClose .5s linear;
    -moz-animation: toolbarWhiteClose .5s linear;
    -o-animation: toolbarWhiteClose .5s linear;
    animation: toolbarWhiteClose .5s linear;
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
    .toolbar-wrapper {
        display: flex;
        align-items: flex-end;
        .toolbar-items {
            display: flex;
        }
        .toolbar-menu {
            display: flex;
            flex-wrap: wrap;
            padding: 2px 0 2px 20px;
            width: 25px;
            cursor: pointer;
            .toolbar-menu-dot {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
            }
            .toolbar-menu-dot-hide {
                display: none;
            }
            .toolbar-menu-dot-with-animation-open-1 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear1 1s ease;
                -moz-animation: disappear1 1s ease;
                -o-animation: disappear1 1s ease;
                animation: disappear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-open-2 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear2 1s ease;
                -moz-animation: disappear2 1s ease ;
                -o-animation: disappear2 1s ease ;
                animation: disappear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-open-4 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 0;
                -webkit-animation: disappear4 1s ease;
                -moz-animation: disappear4 1s ease;
                -o-animation: disappear4 1s ease;
                animation: disappear4 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-1 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear1 1s ease;
                -moz-animation: appear1 1s ease;
                -o-animation: appear1 1s ease;
                animation: appear1 1s ease;
            }
            .toolbar-menu-dot-with-animation-close-2 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear2 1s ease;
                -moz-animation: appear2 1s ease ;
                -o-animation: appear2 1s ease ;
                animation: appear2 1s ease ;
            }
            .toolbar-menu-dot-with-animation-close-4 {
                border: 1px solid black;
                border-radius: 50%;
                background: black;
                width: 3px;
                height: 3px;
                margin: 1px;
                opacity: 1;
                -webkit-animation: appear4 1s ease;
                -moz-animation: appear4 1s ease;
                -o-animation: appear4 1s ease;
                animation: appear4 1s ease;
            }
        }
    }
}

.toolbar-small-screen {
    position: relative;
    width: calc(100% - 78px);
    height: calc(70px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
    color: black;
    background: white;
    z-index: 700;
    margin-bottom: 20px;
    .toolbar-menu {
        cursor: pointer;
        .toolbar-menu-line {
            border: 1px solid rgb(37, 37, 37);
            margin: 3px;
            width: 13px;
        }
    }
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
}

.toolbar-small-screen-animated-unmounted {
    position: fixed;
    width: calc(100% - 78px);
    height: calc(70px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
    color: black;
    background: white;
    z-index: 700;
    transform: translateY(-100%);
    .toolbar-menu {
        cursor: pointer;
        .toolbar-menu-line {
            border: 1px solid rgb(37, 37, 37);
            margin: 3px;
            width: 13px;
        }
    }
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
}

.toolbar-small-screen-animated-mounted {
    position: fixed;
    width: calc(100% - 78px);
    height: calc(70px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
    color: black;
    background: white;
    z-index: 700;
    transform: translateY(0%);
    .toolbar-menu {
        cursor: pointer;
        .toolbar-menu-line {
            border: 1px solid rgb(37, 37, 37);
            margin: 3px;
            width: 13px;
        }
    }
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
}

.toolbar-small-screen-animated-open {
    position: fixed;
    width: calc(100% - 78px);
    height: calc(70px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
    color: black;
    background: white;
    z-index: 700;
    -webkit-animation: toolbarWhiteOpen .5s linear;
    -moz-animation: toolbarWhiteOpen .5s linear;
    -o-animation: toolbarWhiteOpen .5s linear;
    animation: toolbarWhiteOpen .5s linear;
    transform: translate(0%);
    .toolbar-menu {
        cursor: pointer;
        .toolbar-menu-line {
            border: 1px solid rgb(37, 37, 37);
            margin: 3px;
            width: 13px;
        }
    }
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
}

.toolbar-small-screen-animated-close {
    position: fixed;
    width: calc(100% - 78px);
    height: calc(70px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
    color: black;
    background: white;
    z-index: 700;
    transform: translateY(-100%);
    -webkit-animation: toolbarWhiteClose .5s linear;
    -moz-animation: toolbarWhiteClose .5s linear;
    -o-animation: toolbarWhiteClose .5s linear;
    animation: toolbarWhiteClose .5s linear;
    .toolbar-menu {
        cursor: pointer;
        .toolbar-menu-line {
            border: 1px solid rgb(37, 37, 37);
            margin: 3px;
            width: 13px;
        }
    }
    .toolbar-logo {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 33px;
        cursor: pointer;
    }
}

.toolbar-regular-screen-options {
    width: calc(100% + 20px);
    background-color: white;
    position: absolute;
    left: 0%;
    z-index: 600;
    box-shadow: 0px -10px 0px rgb(239, 239, 239);
    .toolbar-regular-screen-options-wrapper {
        display: flex;
        justify-content: center;
        .toolbar-option {
            padding-right: 70px;
            .toolbar-option-item {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                .arrow-wrapper-active {
                    display: flex;
                    transform: translate(100%);
                    // margin-top: 30px;
                    align-items: center;
                    .arrow-horizontal-line {
                        border-top: 1px solid black;
                        background: black;
                        width: 15px;
                    }
                    .arrow-wrapper2 {
                        transform: translate(-5px);
                        height: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .arrow-top-line {
                            border-top: 1px solid black;
                            width: 5px;
                            transform: translate(0px, 2.5px) rotate(-45deg);
                        }
                       .arrow-bottom-line {
                            border-top: 1px solid black;
                            width: 5px;
                            transform: translate(0px, -3.5px) rotate(45deg);
                        }
                    }
                }
                .arrow-wrapper-hide {
                    display: flex;
                    align-items: center;
                    opacity: 0;
                    transform: translateX(0%);
                    .arrow-horizontal-line {
                        border-top: 1px solid black;
                        background: black;
                        width: 15px;
                    }
                    .arrow-wrapper2 {
                        transform: translate(-5px);
                        height: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .arrow-top-line {
                            border-top: 1px solid black;
                            width: 5px;
                            transform: translate(0px, 2.5px) rotate(-45deg);
                        }
                        .arrow-bottom-line {
                            border-top: 1px solid black;
                            width: 5px;
                            transform: translate(0px, -3.5px) rotate(45deg);
                        }
                    }
                }
                .arrow-wrapper-hover-on {
                    display: flex;
                    align-items: center;
                    opacity: 1;
                    transform: translateX(100%);
                    -webkit-animation: arrowAppears .2s ease;
                    -moz-animation: arrowAppears .2s ease;
                    -o-animation: arrowAppears .2s ease;
                    animation: arrowAppears .2s ease;
                    .arrow-horizontal-line {
                        border-top: 1px solid black;
                        background: black;
                        width: 15px;
                    }
                    .arrow-wrapper2 {
                        transform: translate(-5px);
                        height: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .arrow-top-line {
                            border-top: 1px solid black;
                            width: 5px;
                            transform: translate(0px, 2.5px) rotate(-45deg);
                        }
                        .arrow-bottom-line {
                            border-top: 1px solid black;
                            width: 5px;
                            transform: translate(0px, -3.5px) rotate(45deg);
                        }
                    }
                }
                .arrow-wrapper-hover-off {
                    display: flex;
                    align-items: center;
                    opacity: 0;
                    transform: translateX(0%);
                    -webkit-animation: arrowDisppears .2s ease;
                    -moz-animation: arrowDisppears .2s ease;
                    -o-animation: arrowDisppears .2s ease;
                    animation: arrowDisppears .2s ease;
                    .arrow-horizontal-line {
                        border-top: 1px solid black;
                        background: black;
                        width: 15px;
                    }
                    .arrow-wrapper2 {
                        transform: translate(-5px);
                        height: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .arrow-top-line {
                            border-top: 1px solid black;
                            width: 5px;
                            transform: translate(0px, 2.5px) rotate(-45deg);
                        }
                        .arrow-bottom-line {
                            border-top: 1px solid black;
                            width: 5px;
                            transform: translate(0px, -3.5px) rotate(45deg);
                        }
                    }
                }

                .toolbar-option-item-text-active {
                    transform: translateX(20px);
                }
                .toolbar-option-item-text {
                    transform: translateX(0px);
                }
                .toolbar-option-item-text-hover-on {
                    transform: translateX(20px);
                    -webkit-animation: textHoverOn .2s ease;
                    -moz-animation: textHoverOn .2s ease;
                    -o-animation: textHoverOn .2s ease;
                    animation: textHoverOn .2s ease;
                }
                .toolbar-option-item-text-hover-off {
                    transform: translateX(0px);
                    -webkit-animation: textHoverOff .2s ease;
                    -moz-animation: textHoverOff .2s ease;
                    -o-animation: textHoverOff .2s ease;
                    animation: textHoverOff .2s ease;
                }
            }
        }
    }
}


// @media only screen and (max-width: 1120px){
    
// }

@-webkit-keyframes textHoverOn {
    from{transform: translateX(0);}
    to{transform: translateX(20px);}
}
@-moz-keyframes textHoverOn {
    from{transform: translateX(0);}
    to{transform: translateX(20px);}
}
@-o-keyframes textHoverOn {
    from{transform: translateX(0);}
    to{transform: translateX(20px);}
}
@keyframes textHoverOn {
    from{transform: translateX(0);}
    to{transform: translateX(20px);}
}

@-webkit-keyframes textHoverOff {
    from{transform: translateX(20px);}
    to{transform: translateX(0px);}
}
@-moz-keyframes textHoverOff {
    from{transform: translateX(20px);}
    to{transform: translateX(0px);}
}
@-o-keyframes textHoverOff {
    from{transform: translateX(20px);}
    to{transform: translateX(0px);}
}
@keyframes textHoverOff {
    from{transform: translateX(20px);}
    to{transform: translateX(0px);}
}

@-webkit-keyframes arrowAppears {
    from{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(100%);
        opacity: 1;
    }
}
@-moz-keyframes arrowAppears {
    from{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(100%);
        opacity: 1;
    }
}
@-o-keyframes arrowAppears {
    from{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(100%);
        opacity: 1;
    }
}
@keyframes arrowAppears {
    from{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(100%);
        opacity: 1;
    }
}

@-webkit-keyframes arrowDisppears {
    from{
        transform: translateX(100%);
        opacity: 1;
    }
    to{
        transform: translateX(0%);
        opacity: 0;
    }
}
@-moz-keyframes arrowDisppears {
    from{
        transform: translateX(100%);
        opacity: 1;
    }
    to{
        transform: translateX(0%);
        opacity: 0;
    }
}
@-o-keyframes arrowDisppears {
    from{
        transform: translateX(100%);
        opacity: 1;
    }
    to{
        transform: translateX(0%);
        opacity: 0;
    }
}
@keyframes arrowDisppears {
    from{
        transform: translateX(100%);
        opacity: 1;
    }
    to{
        transform: translateX(0%);
        opacity: 0;
    }
}

@-webkit-keyframes toolbarWhiteOpen {
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
}
@-moz-keyframes toolbarWhiteOpen {
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
}
@-o-keyframes toolbarWhiteOpen {
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
}
@keyframes toolbarWhiteOpen {
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
}

@-webkit-keyframes toolbarWhiteClose {
    from{transform: translateY(0%);}
    to{transform: translateY(-100%);}
}
@-moz-keyframes toolbarWhiteClose {
    from{transform: translateY(0%);}
    to{transform: translateY(-100%);}
}
@-o-keyframes toolbarWhiteClose {
    from{transform: translateY(0%);}
    to{transform: translateY(-100%);}
}
@keyframes toolbarWhiteClose {
    from{transform: translateY(0%);}
    to{transform: translateY(-100%);}
}

@-webkit-keyframes disappear1 {
    0%{opacity: 1;}
    60%{opacity: 0;}
}
@-moz-keyframes disappear1 {
    0%{opacity: 1;}
    60%{opacity: 0;}
}
@-o-keyframes disappear1 {
    0%{opacity: 1;}
    60%{opacity: 0;}
}
@keyframes disappear1 {
    0%{opacity: 1;}
    60%{opacity: 0;}
}

@-webkit-keyframes disappear2 {
    0%{opacity: 1;}
    90%{opacity: 0;}
}
@-moz-keyframes disappear2 {
    0%{opacity: 1;}
    90%{opacity: 0;}
}
@-o-keyframes disappear2 {
    0%{opacity: 1;}
    90%{opacity: 0;}
}
@keyframes disappear2 {
    0%{opacity: 1;}
    90%{opacity: 0;}
}

@-webkit-keyframes disappear4 {
    0%{opacity: 1;}
    30%{opacity: 0;}
}
@-moz-keyframes disappear4 {
    0%{opacity: 1;}
    30%{opacity: 0;}
}
@-o-keyframes disappear4 {
    0%{opacity: 1;}
    30%{opacity: 0;}
}
@keyframes disappear4 {
    0%{opacity: 1;}
    30%{opacity: 0;}
}

@-webkit-keyframes appear1 {
    0%{opacity: 0;}
    60%{opacity: 1;}
}
@-moz-keyframes appear1 {
    0%{opacity: 0;}
    60%{opacity: 1;}
}
@-o-keyframes appear1 {
    0%{opacity: 0;}
    60%{opacity: 1;}
}
@keyframes appear1 {
    0%{opacity: 0;}
    60%{opacity: 1;}
}

@-webkit-keyframes appear2 {
    0%{opacity: 0;}
    90%{opacity: 1;}
}
@-moz-keyframes appear2 {
    0%{opacity: 0;}
    90%{opacity: 1;}
}
@-o-keyframes appear2 {
    0%{opacity: 0;}
    90%{opacity: 1;}
}
@keyframes appear2 {
    0%{opacity: 0;}
    90%{opacity: 1;}
}

@-webkit-keyframes appear4 {
    0%{opacity: 0;}
    30%{opacity: 1;}
}
@-moz-keyframes appear4 {
    0%{opacity: 0;}
    30%{opacity: 1;}
}
@-o-keyframes appear4 {
    0%{opacity: 0;}
    30%{opacity: 1;}
}
@keyframes appear4 {
    0%{opacity: 0;}
    30%{opacity: 1;}
}
