.buttons-page {
    width: calc(100% + 18px);
    .buttons-page-loading-error {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttons-page-wrapper {
        display: flex;
        flex-direction: column;
        .buttons-page-header {
            padding: 90px 130px 90px 130px;
        }
        .grey-line {
            width: 100%;
            height: 10px;
            background-color: rgb(239, 239, 239);
        }
        .buttons-page-section1-data-items {
            display: flex;
            justify-content: center;
            background: rgb(248, 248, 248);
            padding: 130px 130px 130px 130px;
        }
        .buttons-page-section2-data-items {
            display: flex;
            justify-content: center;
            padding: 110px;
        }
    }
}

@media only screen and (max-width: 1120px){
    .buttons-page {
        .buttons-page-wrapper {
            .buttons-page-header {
                padding: 90px 40px 90px 40px;
            }
            .buttons-page-section1-data-wrapper {
                padding: 130px 40px 130px 40px;
            }
            .buttons-page-section2-data-wrapper {
                padding: 110px 40px 110px 40px;
            }     
        }
    }
}

@media only screen and (max-width: 860px){
    .buttons-page {
        .buttons-page-wrapper {
            .buttons-page-section1-data-wrapper {
                flex-direction: column;
            }  
        }
    }
}
