// .portfolio-description-button {
//     border-radius: 30px;
//     width: 170px;
//     color: rgb(42, 20, 33);
//     border: 1px solid rgb(42, 20, 33);
//     margin: 10px 0 0 0;
//     margin: 10px 0 0 0;
//     background: rgb(238, 203, 184);
//     font-family: 'Indie Flower', cursive;
//     cursor: pointer;
//     &:hover {
//         background-color: rgb(249, 142, 108);
//         color: rgb(42, 20, 33);
//         box-shadow: 5px 5px 5px 0 rgb(73, 38, 52);
//     }
// }

.header-get-direction {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: white;
    top: 340px;
    left: 110px;
    border: none;
    width: 170px;
    height: 60px;
    position: relative;
    z-index: 500;
    cursor: pointer;
    &:hover {
        background: transparent;
        border: 2px solid white;
        color: white;
    }
}



// @media only screen and (max-width: 1000px){
//     .load-more-posts-button-wrapper {
//         width: calc(100% - 80px);
//         padding: 0 40px 0 40px;
//     }
// }

    
//     .portfolio-description-button-middle {
//         width: 110px;
//     }
// }
