.accordions-page {
    width: calc(100% + 18px);
    .accordions-page-loading-error {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .accordions-page-wrapper {
        display: flex;
        flex-direction: column;
        .accordions-page-header {
            padding: 90px 130px 90px 130px;
        }
        .grey-line {
            width: 100%;
            height: 10px;
            background-color: rgb(239, 239, 239);
        }
        .accordions-page-section1-data-wrapper {
            display: flex;
            justify-content: center;
            background: rgb(248, 248, 248);
            padding: 130px 0 130px 0;
            .accordions-page-section1-items {
                .accordions-page-section1-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 630px;
                    padding: 30px 0 15px 0;
                    border-bottom: 1px solid rgba(155, 155, 155, 0.2);
                    cursor: pointer;
                }
            }
        }
        .accordions-page-section2-data-wrapper {
            display: flex;
            justify-content: center;
            padding: 110px;
            .accordions-page-section2-items {
                width: 100%;
                .accordions-page-section2-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 20px;
                    background: rgb(248, 248, 248);
                    margin: 15px 0 15px 0;
                    cursor: pointer;
                }
                .accordions-page-section2-item-hover-on {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 20px;
                    background: black;
                    margin: 15px 0 15px 0;
                    cursor: pointer;
                    -webkit-animation: accordionPageSection2ItemBackgroundHoverOn .2s linear;
                    -moz-animation: accordionPageSection2ItemBackgroundHoverOn .2s linear;
                    -o-animation: accordionPageSection2ItemBackgroundHoverOn .2s linear;
                    animation: accordionPageSection2ItemBackgroundHoverOn .2s linear;
                }
                .accordions-page-section2-item-hover-off {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 20px;
                    background: rgb(248, 248, 248);
                    margin: 15px 0 15px 0;
                    cursor: pointer;
                    -webkit-animation: accordionPageSection2ItemBackgroundHoverOff .2s linear;
                    -moz-animation: accordionPageSection2ItemBackgroundHoverOff .2s linear;
                    -o-animation: accordionPageSection2ItemBackgroundHoverOff .2s linear;
                    animation: accordionPageSection2ItemBackgroundHoverOff .2s linear;
                }
            }
        }
    }
}

.accordions-page-item-plus {
    position: relative;
    .plus-horizontal-line {
        width: 11px;
        height: 2px;
        background:black;
    }
    .plus-vertical-line {
        position: absolute;
        top: 0%;
        bottom: 0%;
        transform: rotate(90deg);
        width: 11px;
        height: 1.5px;
        background:black;
    }
}

.accordions-page-item-plus-hover-on {
    position: relative;
    .plus-horizontal-line {
        width: 11px;
        height: 2px;
        background:white;
    }
    .plus-vertical-line {
      display: none;
    }
}

.accordions-page-item-plus-hover-off {
    position: relative;
    .plus-horizontal-line {
        width: 11px;
        height: 2px;
        background:black;
    }
    .plus-vertical-line {
        position: absolute;
        top: 0%;
        bottom: 0%;
        transform: rotate(90deg);
        width: 11px;
        height: 1.5px;
        background:black;
    }
}

@media only screen and (max-width: 1120px){
    .accordions-page {
        .accordions-page-wrapper {
            .accordions-page-items {
                .accordions-page-item {
                    width: calc(50% - 30px);
                }
            }
        }
    }
}

@media only screen and (max-width: 945px){
    .accordions-page {
        .accordions-page-wrapper {
            .accordions-page-items {
                .accordions-page-item {
                    width: calc(100% - 30px);
                }
            }
        }
    }
}

@media only screen and (max-width: 890px){
    .accordions-page {
        .accordions-page-wrapper {
            .accordions-page-header {
                padding: 90px 70px 90px 70px;
            }
            .accordions-page-items {
                width: calc(100% - 110px);
                padding: 130px 40px 100px 70px;
            }
        }
    }
}

@media only screen and (max-width: 780px){
    .accordions-page {
        .accordions-page-wrapper {
            .accordions-page-header {
                padding: 90px 30px 90px 30px;
            }
            .accordions-page-items {
                width: calc(100% - 30px);
                padding: 130px 0px 100px 30px;
            }
        }
    }
}

@-webkit-keyframes accordionPageSection2ItemBackgroundHoverOn {
    from{background: white;}
    to{background: black;}
}
@-moz-keyframes accordionPageSection2ItemBackgroundHoverOn {
    from{background: white;}
    to{background: black;}
}
@-o-keyframes accordionPageSection2ItemBackgroundHoverOn {
    from{background: white;}
    to{background: black;}
}
@keyframes accordionPageSection2ItemBackgroundHoverOn {
    from{background: white;}
    to{background: black;}
}

@-webkit-keyframes accordionPageSection2ItemBackgroundHoverOff {
    from{background: black;}
    to{background: white;}
}
@-moz-keyframes accordionPageSection2ItemBackgroundHoverOff {
    from{background: black;}
    to{background: white;}
}
@-o-keyframes accordionPageSection2ItemBackgroundHoverOff {
    from{background: black;}
    to{background: white;}
}
@keyframes accordionPageSection2ItemBackgroundHoverOff {
    from{background: black;}
    to{background: white;}
}
