.banner-page {
    width: calc(100% + 18px);
    .banner-page-loading-error {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-page-wrapper {
        // display: flex;
        // flex-direction: column;
        .banner-page-header {
            padding: 90px 130px 90px 130px;
        }
        .grey-line {
            width: 100%;
            height: 10px;
            background-color: rgb(239, 239, 239);
        }
        .banner-page-section-1-data {
            background: rgb(248, 248, 248);
        }
        .banner-page-section-2-data {
            background: white;
        }
        .banner-page-section-3-data {
            background: rgb(248, 248, 248);
            width: calc(100% - 230px);
            display: flex;
            flex-wrap: wrap;
            padding: 70px 100px 40px 130px;
            .banner-page-section-3-item {
                width: 33.3%;
            }
        }
        .banner-page-section-4-data {
            background: white;
            width: calc(100% - 230px);
            display: flex;
            flex-wrap: wrap;
            padding: 70px 100px 40px 130px;
            .banner-page-section-4-item {
                width: 33.3%;
            }
        }
        .banner-page-section-5-data {
            background: rgb(248, 248, 248);
            width: calc(100% - 230px);
            display: flex;
            flex-wrap: wrap;
            padding: 70px 100px 40px 130px;
            .banner-page-section-5-item {
                width: 33.3%;
            }
        }
        .banner-page-section-6-data {
            background: white;
            width: calc(100% - 230px);
            display: flex;
            flex-wrap: wrap;
            padding: 70px 100px 40px 130px;
            .banner-page-section-6-item {
                width: 33.3%;
            }
        }
        .banner-page-section-7-data {
            background: rgb(248, 248, 248);
            width: calc(100% - 230px);
            display: flex;
            flex-wrap: wrap;
            padding: 70px 100px 40px 130px;
            .banner-page-section-7-item {
                width: 33.3%;
            }
        }
        .banner-page-section-8-data {
            background: rgb(248, 248, 248);
        }
    }
}

@media only screen and (max-width: 1120px){
    .banner-page {
        .banner-page-wrapper {
            .banner-page-header {
                padding: 90px 40px 90px 40px;
            } 
        }
    }
}

@media only screen and (max-width: 860px){
    .banner-page {
        .banner-page-wrapper {
            .banner-page-header {
                padding: 90px 40px 90px 40px;
            }    
        }
    }
}
