.contact-form-page {
    width: calc(100% + 18px);
    .contact-form-page-loading-error {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-form-page-wrapper {
        // display: flex;
        // flex-direction: column;
        .contact-form-page-header {
            padding: 90px 130px 90px 130px;
        }
        .grey-line {
            width: 100%;
            height: 10px;
            background-color: rgb(239, 239, 239);
        }
        .contact-form-page-section-1-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 110px;
            background: rgb(248, 248, 248);
            .contact-form-page-section-1-data-inputs-wrapper {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .contact-form-page-section-1-form {
                    width: calc(50% - 20px);
                }
            }
        }
        .contact-form-page-section-2-data {
            padding: 110px 0 110px 0;
            background: rgb(23, 23, 23);
        }
        .contact-form-page-section-3-data {
            padding: 110px 0 110px 0;
            background: rgb(248, 248, 248);
        }
    }
}

@media only screen and (max-width: 1120px){
    .contact-form-page {
        .contact-form-page-wrapper {
            .contact-form-page-header {
                padding: 90px 40px 90px 40px;
            } 
        }
    }
}

@media only screen and (max-width: 860px){
    .contact-form-page {
        .contact-form-page-wrapper {
            .contact-form-page-header {
                padding: 90px 40px 90px 40px;
            }    
        }
    }
}
