b {
    background: linear-gradient(
        white,
        black,

    );

    // font-size: 70px;
    // font-size: 60px;   mediaScreen: 1120, 860, 730, 600
    font-size: 180px; //  font-size: 150px, 130px, 120px, 100px
    font-size: 65px;  //  font-size: 55px, 45px, 35px,
    font-size: 45px;
    font-size: 19px;
    font-size: 17px;

    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lora', serif;
    font-family: 'Lalezar', cursive;
}



