b {
    background: linear-gradient(
        white,
        rgb(36, 36, 36)
        black

    );

    // font-size: 70px;
    // font-size: 60px;
    font-size: 180px;
    font-size: 19px;
    font-size: 17px;

    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lora', serif;
    font-family: 'Lalezar', cursive;
}



