.h15 {
    font-size: 15px;
    color: white;
}

.h15-white-lustria {
    font-size: 15px;
    color: white;
    font-family: 'Lustria', serif;
}

.h15-black-lustria {
    font-size: 15px;
    color: black;
    font-family: 'Lustria', serif;
}

.h15-lustria-animation {
    font-size: 15px;
    color: rgb(155, 155, 155);
    font-family: 'Lustria', serif;
    &:hover{
        color: white;
        -webkit-animation: appearPictureBoardHeader .3s linear;
        -moz-animation: appearPictureBoardHeader .3s linear;
        -o-animation: appearPictureBoardHeader .3s linear;
        animation: appearPictureBoardHeader .3s linear;
    }
   
}

// .h15-pink-grey-yanone-suva {
//     font-size: 14px;
//     font-family: 'Yanone Kaffeesatz', sans-serif;
//     color: rgb(141, 133, 130);
// }

// .h15-jaldi {
//     font-size: 14px;
//     font-family: 'Jaldi', sans-serif;
//     color: white;
// }

@-webkit-keyframes appearPictureBoardHeader {
    from{color: rgb(155, 155, 155);}
    to {color: white;}
}
@-moz-keyframes appearPictureBoardHeader {
    from{color: rgb(155, 155, 155);}
    to {color: white;}
}
@-o-keyframes appearPictureBoardHeader {
    from{color: rgb(155, 155, 155);}
    to {color: white;}
}
@keyframes appearPictureBoardHeader {
    from{color: rgb(155, 155, 155);}
    to {color: white;}
}
