.section-2 {
    height: 1600px;
    background-image: url('../../../images/background/augustine-wong-3Om4DHcaAc0-unsplash.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;

    .section-2-wrapper {
        height: 475px;
        padding: 80px;
        text-align: center;
        background: rgb(37, 37, 37);
    }
    // filter: grayscale(20%);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    // overflow: hidden;
    // border: 3px solid rgb(42, 20, 33);
    // margin: 15px;
    // border-radius: 255px 70px 225px 30px/70px 225px 30px 255px;
}

@media only screen and (max-width: 1250px){
    .section-2 {
        height: 3900px;
    }
    
}


@media only screen and (max-width: 945px){
    .section-2 {
        height: 3150px;
    }
}

@media only screen and (max-width: 775px){
    .section-2 {
        height: 8000px;
    }
}

@media only screen and (max-width: 540px){
    .section-2 {
        height: 5880px;
    }
}

// @media only screen and (max-width: 1310px){
//     .section-1 {
//         .section-1-data-items {
//             flex-direction: column;
//             padding: 80px 100px 80px 100px;
//         }
//     }
// }

// @media only screen and (max-width: 860px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 60px 80px 60px 80px;
//         }
//     }
// }

// @media only screen and (max-width: 730px){
//     .section-1 {
//         .section-1-data-items {
//             padding: 40px 60px 40px 60px;
//         }
//     }
// }

